<section style="max-width: 896px; margin: 0 auto;">
    <div align="center">
        <h1 style="color:#875A7B;">Isha IMS</h1>
        <h3>ITSM | Helpdesk | Service Desk</h3>
    </div>
<!--    <div align="center">-->
<!--        <p><a href="https://www.odoo.com/documentation/user/12.0/legal/licenses/licenses.html#odoo-apps"><img-->
<!--                alt="License: OPL-1" src="https://img.shields.io/badge/license-OPL&#45;&#45;1-blue.png"/></a>-->
<!--			<a href="https://crnd.pro/"><img alt="CR&amp;D"-->
<!--                                             src="https://img.shields.io/badge/maintainer-CR&amp;D-purple.png"/></a></p>-->
<!--        <p><br></p>-->
<!--    </div>-->
</section>

<!--<section style="margin: 0 auto; max-width: 896px;">-->
<!--	<div class="row">-->
<!--        <div class="col-xs-6" style="margin: 5px;">-->
<!--            <a class="btn btn-outline-info mb16" title="Demo" href="https://yodoo.systems/saas/template/bureaucrat-itsm-demo-data-95" target="_blank">Demo</a>-->
<!--        </div>-->
<!--        <div class="col-xs-6" style="border-left: 1px solid grey;  left: 50%; height: 40px; top: 0;"></div>-->
<!--		<div class="col-xs-6" style="margin: 5px;">-->
<!--            <a class="btn btn-outline-success mb16" title="Documentation" href="https://crnd.pro/doc-bureaucrat-itsm/11.0/en/" target="_blank">Documentation</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<section style="margin: 0 auto; max-width: 896px;">
    <div>
        <p>Isha Incident represents incident management system and perfect fits the companies that provide incident
            management process. It is designed to be a single channel for submitting all the events that prevent normal workflow.
        </p>
        <p>Isha Incident can be used to buid a solid ITSM, Helpdesk, Service Desk system for your company.<br/>
            A large variety of addons (more than 50) allows to create your own system that will suit even the most
            demanding companies.<br/>
            Each addon integrates into the system and provides new functionality.<br/>
            Build a simple, reliable, free helpdesk system and easily upgrade it to a professional ITSM at any time by
            installing additional modules.
        </p>
    </div>

    <div style="padding: 0.3em 0.6em; font-size: 120%;">
        <h3><i>Key features:</i></h3>
        <ul>
            <li>Custom incident Types / Categories</li>
            <li>Global Stage Types</li>
            <li>Custom Stages / Routes for each type of incident</li>
            <li>Coloured workflow diagrams</li>
            <li>Ability to setup workflow on the fly from the Diagram View</li>
            <li>Assignments</li>
            <li>System Events: almost any incident activity is registered as a system event and can be used for logging
                or triggering programmed automated actions and route transitions (requires addons installation)
            </li>
            <li>Configurable custom notifications</li>
            <li>Tools for communication with customers, notes, event planning</li>
            <li>Logging, reports, analysis</li>
            <li>Complete documentation with configuration examples</li>
        </ul>
<!--        <h3><i>Additional features provided by add-ons:</i></h3>-->
<!--        <ul>-->
<!--            <li><a href="https://www.odoo.com/apps/modules/12.0/crnd_wsd/">Website Service Desk</a> - Website Interface-->
<!--                for Service Desk-->
<!--            </li>-->
<!--            <li><a href="https://www.odoo.com/apps/modules/12.0/isha_ims_action/">Isha Incident (Actions)</a> - -->
<!--                Configurable Automated Actions-->
<!--            </li>-->
<!--            <li><a href="https://www.odoo.com/apps/modules/12.0/isha_ims_action_condition/">Isha Incident-->
<!--                (Conditional Actions)</a> - Make actions conditional-->
<!--            </li>-->
<!--            <li><a href="https://www.odoo.com/apps/modules/12.0/isha_ims_action_project/">Isha Incident (Action-->
<!--                Project)</a> - Create project tasks via automated actions-->
<!--            </li>-->
<!--            <li><a href="https://www.odoo.com/apps/modules/12.0/isha_ims_action_survey/">Isha Incident (Action-->
<!--                Survey)</a> - Send surveys via automated actions-->
<!--            </li>-->
<!--            <li><a href="https://www.odoo.com/apps/modules/12.0/isha_ims_action_subincident/">Isha Incident-->
<!--                (Action Subincident)</a> - Create subincidents using automated actions-->
<!--            </li>-->
<!--            <li><a href="https://www.odoo.com/apps/modules/12.0/isha_ims_action_tag/">Isha Incident (Action-->
<!--                Tag)</a> - Automatically Add / remove tags from incidents via actions-->
<!--            </li>-->
<!--            <li><a href="https://www.odoo.com/apps/modules/12.0/isha_ims_condition/">Isha Incident-->
<!--                (Conditions)</a> - Use conditions in incident settings (e.g. conditions for route transition,-->
<!--                assignments, incident changes, triggering actions, etc.)-->
<!--            </li>-->
<!--            <li><a href="https://www.odoo.com/apps/modules/12.0/isha_ims_field/">Isha Incident Field</a> - Add-->
<!--                custom fields to incidents-->
<!--            </li>-->
<!--            <li><a href="https://www.odoo.com/apps/modules/12.0/isha_ims_field_service/">Isha Incident Field-->
<!--                Service</a> - When setting up additional data fields in incidents, you can specify for which service to-->
<!--                use them-->
<!--            </li>-->
<!--            <li><a href="https://www.odoo.com/apps/modules/12.0/isha_ims_kind/">Isha Incident Kind</a> - -->
<!--                Additional classification by kind of incident-->
<!--            </li>-->
<!--            <li><a href="https://www.odoo.com/apps/modules/12.0/isha_ims_mail/">Isha Incident (mail-->
<!--                integration)</a> - Create incidents using incoming emails, create incidents manually in one click from-->
<!--                incoming emails, canned responses using shortcodes-->
<!--            </li>-->
<!--            <li><a href="https://www.odoo.com/apps/modules/12.0/isha_ims_mail_tag/">Isha Incident (mail-->
<!--                integration + tags)</a> - Use tags when creating incidents by email-->
<!--            </li>-->
<!--            <li><a href="https://www.odoo.com/apps/modules/12.0/isha_ims_mail_service/">Isha Incident Mail-->
<!--                (Service)</a> - Select services when creating incidents by email-->
<!--            </li>-->
<!--            <li><a href="https://www.odoo.com/apps/modules/12.0/isha_ims_parent/">Isha Incident Parent</a> - -->
<!--                Parent/child relationship to incidents, create subincidents-->
<!--            </li>-->
<!--            <li><a href="https://www.odoo.com/apps/modules/12.0/isha_ims_priority/">Isha Incident Priority</a>-->
<!--                - Prioritize incidents-->
<!--            </li>-->
<!--            <li><a href="https://www.odoo.com/apps/modules/12.0/isha_ims_project/">Isha Incident Project</a> - -->
<!--                Link incidents with project tasks-->
<!--            </li>-->
<!--            <li><a href="https://www.odoo.com/apps/modules/12.0/isha_ims_project_timesheet/">Isha Incident-->
<!--                Project Timesheet</a> - Log / review work log directly from the incident form-->
<!--            </li>-->
<!--            <li><a href="https://www.odoo.com/apps/modules/12.0/isha_ims_related_doc/">Isha Incident Related-->
<!--                Document</a> - Link incidents with any Odoo documents-->
<!--            </li>-->
<!--            <li><a href="https://www.odoo.com/apps/modules/12.0/isha_ims_related_incidents/">Isha Incident-->
<!--                Related Incidents</a> - Establish links between incidents-->
<!--            </li>-->
<!--            <li><a href="https://www.odoo.com/apps/modules/12.0/isha_ims_reopen_as/">Isha Incident Reopen-->
<!--                As</a> - Reopen closed incidents with a new type of incident-->
<!--            </li>-->
<!--            <li><a href="https://www.odoo.com/apps/modules/12.0/isha_ims_route_auto/">Isha Incident (Auto-->
<!--                route)</a> - Automated route transitions by triggers-->
<!--            </li>-->
<!--            <li><a href="https://www.odoo.com/apps/modules/12.0/isha_ims_route_auto_project/">Isha Incident-->
<!--                Route Auto Project</a> - Automatic route transition when task's stage is changed-->
<!--            </li>-->
<!--            <li><a href="https://www.odoo.com/apps/modules/12.0/isha_ims_route_auto_subincident/">Isha Incident-->
<!--                (Auto route subincident)</a> - Automatic route transition when the sub-incident's stage is changed-->
<!--            </li>-->
<!--            <li><a href="https://www.odoo.com/apps/modules/12.0/isha_ims_service/">Isha Incident Service</a> - -->
<!--                Use services in incidents-->
<!--            </li>-->
<!--            <li><a href="https://www.odoo.com/apps/modules/12.0/isha_ims_sla/">Isha Incident SLA</a> - Service-->
<!--                Level Agreement-->
<!--            </li>-->
<!--            <li><a href="https://www.odoo.com/apps/modules/12.0/isha_ims_sla_log/">Isha Incident SLA: Log</a> - -->
<!--                Log and report events that occur with incidents-->
<!--            </li>-->
<!--            <li><a href="https://www.odoo.com/apps/modules/12.0/isha_ims_sla_service/">Isha Incident SLA-->
<!--                (Service)</a> - Allows you to specify different SLA limit and warn times per service-->
<!--            </li>-->
<!--            <li><a href="https://www.odoo.com/apps/modules/12.0/isha_ims_survey/">Isha Incident (Survey)</a> - -->
<!--                Send custom surveys from incident, view results from the incident form-->
<!--            </li>-->
<!--            <li><a href="https://www.odoo.com/apps/modules/12.0/isha_ims_tag/">Isha Incident (Tags)</a> - Use-->
<!--                tags-->
<!--            </li>-->
<!--            <li><a href="https://www.odoo.com/apps/modules/12.0/crnd_wsd_field/">Website Service Desk (Field)</a> - -->
<!--                Custom fields (string) on Website UI-->
<!--            </li>-->
<!--            <li><a href="https://www.odoo.com/apps/modules/12.0/crnd_wsd_field_service/">Website Service Desk (Field +-->
<!--                Service)</a> - If this module is installed, only fields that have no related services or related service-->
<!--                is equal to selected service will be shown-->
<!--            </li>-->
<!--            <li><a href="https://www.odoo.com/apps/modules/12.0/crnd_wsd_kind/">Website Service Desk (Incident Kind)</a>-->
<!--                - Additional incidents classification by kind. On the website, you can add a new filter to sort incidents-->
<!--                by created kinds.-->
<!--            </li>-->
<!--            <li><a href="https://www.odoo.com/apps/modules/12.0/crnd_wsd_project/">Website Service Desk (Project)</a> - -->
<!--                View projects / tasks related to incident on website.-->
<!--            </li>-->
<!--            <li><a href="https://www.odoo.com/apps/modules/12.0/crnd_wsd_service/">Website Service Desk (Service)</a> - -->
<!--                Use services on website-->
<!--            </li>-->
<!--            <li><a href="https://www.odoo.com/apps/modules/12.0/crnd_wsd_subincident/">Website Service Desk-->
<!--                (Subincidents)</a> - Parent / child incident relation on website-->
<!--            </li>-->
<!--            <li><a href="https://www.odoo.com/apps/modules/12.0/crnd_wsd_tag/">Website Service Desk (Tag)</a> - Tags in-->
<!--                incidents on website-->
<!--            </li>-->
<!--            <li><a href="https://www.odoo.com/apps/modules/12.0/generic_assignment/">Generic Assignment</a> - Create and-->
<!--                use custom assign policies and rules-->
<!--            </li>-->
<!--            <li><a href="https://www.odoo.com/apps/modules/12.0/generic_assignment_hr/">Generic Assignment HR</a> - -->
<!--                Additional HR related options for assignments-->
<!--            </li>-->
<!--            <li><a href="https://www.odoo.com/apps/modules/12.0/generic_assignment_project/">Generic Assignment-->
<!--                Project</a> - Additional assignment options related to project and task-->
<!--            </li>-->
<!--            <li><a href="https://www.odoo.com/apps/modules/12.0/isha_ims_assignment/">Isha Incident-->
<!--                Assignment</a> - Use custom assignment policies and rules when processing incidents-->
<!--            </li>-->
<!--            <li><a href="https://www.odoo.com/apps/modules/12.0/isha_ims_action_assignment/">Isha Incident-->
<!--                Action Assignment</a> - Automated assignments via actions-->
<!--            </li>-->
<!--            <li><a href="https://www.odoo.com/apps/modules/12.0/isha_ims_action_subincident_assignment/">Generic-->
<!--                Incident (Action Subincident Assignment)</a> - You can select an assignment policy for the subincident that-->
<!--                will be created by automated action-->
<!--            </li>-->
<!--            <li><a href="https://www.odoo.com/apps/modules/12.0/isha_ims_service/">Isha Incident (Service)</a>-->
<!--                - Adds service management and service incidents to the system-->
<!--            </li>-->
<!--            <li><a href="https://www.odoo.com/apps/modules/12.0/crnd_wsd_service/">Website Service Desk (Service)</a> - -->
<!--                Adds service incidents on website-->
<!--            </li>-->
<!--            <li><a href="https://www.odoo.com/apps/modules/12.0/isha_ims_mail_service/">Isha Incident (mail-->
<!--                service)</a> - Select services when creating incidents by email-->
<!--            </li>-->
<!--            <li><a href="https://apps.odoo.com/apps/modules/12.0/isha_ims_field_service/">Isha Incident Field-->
<!--                Service</a> - When setting up additional data fields in incidents, you can specify for which service to-->
<!--                use them-->
<!--            </li>-->
<!--            <li><a href="https://apps.odoo.com/apps/modules/12.0/crnd_wsd_field_service/">Website Service Desk (Field +-->
<!--                Service)</a> - On the website, custom fields will be displayed depending on a service-->
<!--            </li>-->
<!--            <li><a href="https://apps.odoo.com/apps/modules/12.0/isha_ims_sla_priority/">Isha Incident SLA-->
<!--                (Priority)</a> - Different SLA limits and warning times for different priorities-->
<!--            </li>-->
<!--            <li><a href="https://apps.odoo.com/apps/modules/12.0/isha_ims_sla_service/">Isha Incident SLA-->
<!--                (Service)</a> - Different SLA limits and warning times per service-->
<!--            </li>-->
<!--            <li><a href="https://apps.odoo.com/apps/modules/12.0/generic_team/">Generic team</a> - Team management</li>-->
<!--            <li><a href="https://apps.odoo.com/apps/modules/12.0/generic_team_tag/">Generic team tag</a> - Tags for-->
<!--                teams and team members-->
<!--            </li>-->
<!--        </ul>-->
    </div>

<!--    <div>-->
<!--        <h3><i>You can install (download) additional features, or read documentation directly from the Settings page of-->
<!--            Isha Incident</i></h3>-->
<!--    </div>-->
<!--    <div align="center">-->
<!--        <img src="settings_1.png" alt="settings" style="max-width: 100%">-->
<!--    </div>-->
<!--    <div align="center">-->
<!--        <img src="settings_2.png" alt="other settings" style="max-width: 100%">-->
<!--        <p><br></p>-->
<!--    </div>-->
</section>

<section style="max-width: 896px; margin: 0 auto;">
    <div>
        <p style="font-size: 120%;">
            <i><b>Basic Workflow Example</b></i>
        </p>
        <ul>
            <li>Administrator configures incident settings (categories, types, services, etc.).
            </li>
            <li>User provides all information about incident by filling necessary fields and creates incident.
            </li>
            <li>Submitted incidents step by step follow the route defined in incident type until resolved.
            </li>
            <li>On each incident stage, various activities may be planned and responsible persons can be assigned.
            </li>
            <li>Incident operators are always keep in touch with the users while handling the incidents.
            </li>
            <li>All incidents are documented and tracked. Reports generated while managing the incidents allow defining
                the problem areas and create the ways for their preventing.
            </li>
        </ul>
    </div>
    <div>
        <p style="font-size: 120%;"><i>Set up types, categories, stage types of incidents
        </i></p>
        <div align="center">
            <img src="start_configure_1.png" alt="start configure" style="max-width: 100%">
            <p><br></p>
        </div>
    </div>
    <div>
        <p style="font-size: 120%;"><i>Simple type configuration</i>
        </p>
        <div align="center">
            <img src="type_config.gif" alt="configure type" style="max-width: 100%">
            <p><br></p>
        </div>
    </div>
    <div>
        <p style="font-size: 120%;"><i>Create incident</i>
        </p>
        <div align="center">
            <img src="create_incident.png" alt="create_incident" style="max-width: 100%">
            <p><br></p>
        </div>
    </div>
    <div>
        <p style="font-size: 120%;"><i>Dynamic workflow</i>
        </p>
        <div align="center">
            <img src="dynamic_workflow.png" alt="dynamic_workflow" style="max-width: 100%">
            <p><br></p>
        </div>
    </div>
    <div>
        <p style="font-size: 120%;"><i>Manage incidents from kanban</i>
        </p>
        <div align="center">
            <img src="review_incidents.png" alt="review_incidents" style="max-width: 100%">
            <p><br></p>
        </div>
        <div align="center">
            <img src="review_incidents_1.png" alt="review_incidents" style="max-width: 100%">
            <p><br></p>
        </div>
    </div>
    <div>
		<p style="font-size: 120%;"><i><u>Processing</u>: handle incident stages, assign responsible persons</i>
        </p>
        <div align="center">
            <img src="incident_process.png" alt="incident_process" style="max-width: 100%">
            <p><br></p>
        </div>
    </div>
    <div>
		<p style="font-size: 120%;"><i>Review incident events</i>
        </p>
        <div align="center">
            <img src="events.png" alt="events" style="max-width: 100%">
            <p><br></p>
        </div>
    </div>
    <div>
        <p style="font-size: 120%;"><i>Keep in touch with the user</i>
        </p>
        <div align="center">
            <img src="discussion.png" alt="discussion" style="max-width: 100%">
            <p><br></p>
        </div>
    </div>
    <div>
        <p style="font-size: 120%;"><i>Schedule activities</i>
        </p>
        <div align="center">
            <img src="schedule_activity.png" alt="schedule_activity" style="max-width: 100%">
            <p><br></p>
        </div>
    </div>
    <div>
        <p style="font-size: 120%;"><i>Manage activities from the Activity View</i>
        </p>
        <div align="center">
            <img src="activity_view.png" alt="activity view" style="max-width: 100%">
            <p><br></p>
        </div>
    </div>

</section>

<!--<section style="max-width: 896px; margin: 0 auto;">-->
<!--    <p>The Isha Incident module is part of the Bureaucrat ITSM project. You can try it by the references below.</p>-->
<!--    <p><br></p>-->
<!--</section>-->

<!--<section style="max-width: 690px; margin: 0 auto;">-->
<!--    <div align="center"><h3>You may also be interested in our Helpdesk bundles</h3></div>-->
<!--    <div class="row" align="center">-->
<!--        <div class="col-md-4 col-xs-12">-->
<!--            <a href="https://www.odoo.com/apps/modules/12.0/bureaucrat_helpdesk_lite/"><img-->
<!--                    style="margin-bottom: 10px; max-width: 230px; border-radius: 8%;" alt="Helpdesk Lite"-->
<!--                    src="helpdesk_lite.png"/></a>-->
<!--        </div>-->
<!--        <div class="col-md-4 col-xs-12">-->
<!--            <a href="https://www.odoo.com/apps/modules/12.0/bureaucrat_helpdesk/"><img-->
<!--                    style="margin-bottom: 10px; max-width: 230px; border-radius: 8%;" alt="Helpdesk"-->
<!--                    src="helpdesk.png"/></a>-->
<!--        </div>-->
<!--        <div class="col-md-4 col-xs-12">-->
<!--            <a href="https://www.odoo.com/apps/modules/12.0/bureaucrat_helpdesk_plus/"><img-->
<!--                    style="margin-bottom: 10px; max-width: 230px; border-radius: 8%;" alt="Helpdesk Plus"-->
<!--                    src="helpdesk_plus.png"/></a>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<!--<section style="max-width: 460px; margin: 0 auto;">-->
<!--    <div class="row" align="center">-->
<!--        <div class="col-md-6 col-xs-12">-->
<!--            <a href="https://www.odoo.com/apps/modules/12.0/bureaucrat_helpdesk_pro/"><img-->
<!--                    style="margin-bottom: 10px; max-width: 230px; border-radius: 8%;" alt="Helpdesk Pro"-->
<!--                    src="helpdesk_pro.png"/></a>-->
<!--        </div>-->
<!--        <div class="col-md-6 col-xs-12">-->
<!--            <a href="https://www.odoo.com/apps/modules/12.0/bureaucrat_helpdesk_ultimate/"><img-->
<!--                    style="margin-bottom: 10px; max-width: 230px; border-radius: 8%;" alt="Helpdesk Ultimate"-->
<!--                    src="helpdesk_ultimate.png"/></a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <p><br></p>-->
<!--</section>-->

<!--<section style="max-width: 460px; margin: 0 auto;">-->
<!--    <div align="center"><h3>Our Service Desk bundles</h3></div>-->
<!--    <div class="row" align="center">-->
<!--        <div class="col-md-6 col-xs-12">-->
<!--            <a href="https://apps.odoo.com/apps/modules/12.0/bureaucrat_servicedesk/"><img-->
<!--                    style="margin-bottom: 10px; max-width: 230px; border-radius: 8%;" alt="Service Desk"-->
<!--                    src="servicedesk.png"/></a>-->
<!--        </div>-->
<!--        <div class="col-md-6 col-xs-12">-->
<!--            <a href="https://apps.odoo.com/apps/modules/12.0/bureaucrat_servicedesk_plus/"><img-->
<!--                    style="margin-bottom: 10px; max-width: 230px; border-radius: 8%;" alt="Service Desk Plus"-->
<!--                    src="servicedesk_plus.png"/></a>-->
<!--        </div>-->
<!--        <div class="col-md-6 col-xs-12">-->
<!--            <a href="https://apps.odoo.com/apps/modules/12.0/bureaucrat_servicedesk_pro/"><img-->
<!--                    style="margin-bottom: 10px; max-width: 230px; border-radius: 8%;" alt="Service Desk Pro"-->
<!--                    src="servicedesk_pro.png"/></a>-->
<!--        </div>-->
<!--        <div class="col-md-6 col-xs-12">-->
<!--            <a href="https://apps.odoo.com/apps/modules/12.0/bureaucrat_servicedesk_ultimate/"><img-->
<!--                    style="margin-bottom: 10px; max-width: 230px; border-radius: 8%;" alt="Service Desk Ultimate"-->
<!--                    src="servicedesk_ultimate.png"/></a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <p><br></p>-->
<!--</section>-->

<!--<section align="center" style="max-width: 896px; margin: 0 auto;">-->
<!--<div>-->
<!--<h2 style="color:#875A7B;">Launch your own ITSM system in 60 seconds:</h2>-->
<!--<p>Create your own <a href="https://yodoo.systems/saas/template/bureaucrat-itsm-demo-data-95">Bureaucrat ITSM</a> database-->
<!--<a href="https://yodoo.systems"><img alt="yodoo.systems" src="https://img.shields.io/badge/powered%20by-yodoo.systems-00a09d.png"/></a>-->
<!--</p> -->
<!--</div>-->
<!--</section>-->

<!--<section align="center" style="max-width: 896px; margin: 0 auto;">-->
<!--    <div>-->
<!--        <h2 style="color: #138c33">Maintainer</h2>-->
<!--        <a href="https://crnd.pro/"><img alt="CR&amp;D" src="https://crnd.pro/web/image/3699/300x140/crnd.png"/></a>-->
<!--        <div align="center">-->
<!--            <a class="btn btn-primary mb16" title="Website" href="https://crnd.pro"><i class="fa fa-globe"></i> Website</a>-->
<!--            <a class="btn btn-primary mb16" title="Contact us" href="mailto:info@crnd.pro"><i-->
<!--                    class="fa fa-envelope"></i> Contact us</a>-->
<!--            <a class="btn btn-primary mb16" title="Bug" href="https://crnd.pro/incidents"><i class="fa fa-bug"></i>-->
<!--                Bug</a>-->
<!--            <a class="btn btn-primary mb16" title="Incidents" href="https://crnd.pro/incidents"><i-->
<!--                    class="fa fa-bullhorn"></i> Incidents</a>-->
<!--        </div>-->
<!--        <div align="center">-->
<!--            <a class="btn btn-primary mb16" title="Blog" href="https://crnd.pro/blog"><i class="fa fa-quote-right"></i>-->
<!--                Blog</a>-->
<!--            <a class="btn btn-primary mb16" title="Youtube Channel"-->
<!--               href="https://www.youtube.com/channel/UCRSGFeR0NgqflPmzpDjL2tw"><i class="fa fa-youtube-play"></i>-->
<!--                Youtube Channel</a>-->
<!--            <p><br></p>-->
<!--        </div>-->

<!--        <p>This module is maintained by the <a href="https://crnd.pro/">Center of Research &amp; Development</a>-->
<!--            company.-->
<!--        </p>-->
<!--        <p>-->
<!--            We can provide you further Odoo Support, Odoo implementation, Odoo customization, Odoo 3rd Party development-->
<!--            and integration software, consulting services. Our main goal is to provide the best quality product for you.-->
<!--        </p>-->
<!--    </div>-->
<!--</section>-->