<section class="oe_container lead mt64">
    <div>
        <div class="col-md-12 mt16" style="padding:0;">
            <div class="col-md-12" style="padding:0;">
                <div class="panel-group mb0 mt0" role="tablist" id="priceAccordeon" style="padding:0;">
                    <div class="panel-heading mb0 mt0 collapsed" role="tab" data-toggle="collapse" data-parent="#priceAccordeon" data-target="#priceAccordeon_area" aria-expanded="false" style="margin-left:0;padding:0 0 2px 0;text-align:right;">
                        <strong>
                            <div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
                                <strong style="color:white;">
                                    Supported :
                                </strong>
                            </div>
                            <div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
                                <strong style="color:white;" title="The tool is compatible with the Odoo Enterprise version">
                                    <i class="fa fa-check" style="margin-left:4px;"> </i>
                                    Enterprise
                                </strong>
                            </div>
                            <div style="background-color:#875A7B;padding:5px;margin-top:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
                                <strong style="color:white;" title="The tool is compatible with the Odoo Community version">
                                    <i class="fa fa-check" style="margin-left:4px;"> </i>
                                    Community
                                </strong>
                            </div>
                            <div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
                                <strong style="color:white;" title="The tool might be installed to Odoo.sh if you have a linked private git repository">
                                    <i class="fa fa-check" style="margin-left:4px;"> </i>
                                    Odoo.sh
                                </strong>
                            </div>
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="oe_container lead bi_title_box">
	<div >
		<div >
			<h2 class="oe_slogan bi_title" style="color:#5082c4;">
				<b>All in One Website Helpdesk Support Ticket Bundle Odoo Apps</b>
			</h2>
			<p class="oe_slogan">
				All in One Website Helpdesk Support Ticket Bundle contains bundle of Helpdesk Support Ticket Modules in Odoo all in helpdesk support apps such as customer interface for Website Customer Helpdesk Support Ticket, Knowledge Base Question & Answer (Q&A) for Helpdesk, Helpdesk Ticket Lock/Unlock, Customer Helpdesk Service Level Agreement(SLA),Support Helpdesk Dashboard, Website Helpdesk Team View, Helpdesk support restriction for specific domain, Print Reports for SLA Contract-Helpdesk Ticket-Helpdesk Ticket Solutions, Generate Maintenance Request from Helpdesk Ticket and send email notification when ticket is created from website, for sla contract etc.
			</p>
		</div>
	</div>
</section>

<section class="oe_container lead bi_features">
	<div >
		<div>
			<h3 class="oe_slogan" style="opacity:1;background: linear-gradient(to right, #86bcf2 0%, #e2f2f8 100%);padding: 10px 0px;color: ##201111;letter-spacing: 0.2em;text-transform: uppercase;text-shadow: 0.1em .04em 0.1em #7d8c88;"><b>Features</b></h3>
		</div>
		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/v1.png"/>
					</div>
					<div class="col-md-9">
					  <h4><b>Website Customer Helpdesk Support Ticket</b></h4>
					  <span class="oe_slogan">It gives customer an interface where user can send support ticket request and attach documents from website.</span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/v2.png"/>
					</div>
					<div class="col-md-9">
						<h4><b>Knowledge Base for Helpdesk</b></h4>
						<span class="oe_slogan">Create and post Question & Answer (Q & A) for helpdesk support tickets.</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/v3.png"/>
					</div>
					<div class="col-md-9">
					  <h4><b>Helpdesk Ticket Lock/Re-assign/Solution</b></h4>
					  <span class="oe_slogan">Helpdesk User can Lock/re-assign tickets. also user can provide solution with images to helpdesk customer.</span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/v4.png"/>
					</div>
					<div class="col-md-9">
						<h4><b>Customer Helpdesk Service Level Agreement</b></h4>
						<span class="oe_slogan">Create and print Service Level Agreement (SLA) to the customer.</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/v5.png"/>
					</div>
					<div class="col-md-9">
					  <h4><b>Helpdesk Dashboard View</b></h4>
					  <span class="oe_slogan">Helpdesk/support team wise dashboard view for helpdesk tickets to make tickets view easier and attractive.</span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/v6.png"/>
					</div>
					<div class="col-md-9">
						<h4><b>Helpdesk Team website view</b></h4>
						<span class="oe_slogan">Helpdesk support team's website view for your helpdesk customers.</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/v7.png"/>
					</div>
					<div class="col-md-9">
					  <h4><b>Maintenance Request for Helpdesk Ticket</b></h4>
					  <span class="oe_slogan">Helpdesk team can create Maintenance Request from Ticket/Issue.</span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/v8.png"/>
					</div>
					<div class="col-md-9">
						<h4><b>Restrict Domains.</b></h4>
						<span class="oe_slogan">Helpdesk support restrict domain provides user to block email domain to submit ticket requests.</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/v9.png"/>
					</div>
					<div class="col-md-9">
					  <h4><b>Email Notification</b></h4>
					  <span class="oe_slogan">Helpdesk provides email notification when ticket is created from website, for sla contract etc. Also you can configure auto response on ticket stage change.</span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/v10.png"/>
					</div>
					<div class="col-md-9">
						<h4><b>Print Reports</b></h4>
						<span class="oe_slogan">Print Reports for SLA Contract,Helpdesk Ticket,Helpdesk Ticket Solutions etc.</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="oe_container lead mt64">
	<div >
		<div class="oe_slogan oe_spaced text-center">
			<a class="btn mt8 mr8" title="Demo Request" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="mailto:sales@browseinfo.in?Subject=Demo Request for All in One Website Helpdesk Support Ticket Bundle Odoo Apps" target="_top"> Demo Request </a>
			<a class="btn mt8 ml8" title="Video Tutorial" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://youtu.be/X3wIgoqp-dY" target="_blank"> Video Tutorial</a>
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">1. Odoo13 Task Delegation and Subtasks</p>
			<p class="oe_slogan">This apps helps to divide task into sub different tasks and assigned it to different project users(employee) and until all subtask get done we added the constraint that main parent task won't get done. </p>
			<p class="oe_slogan">You can also able to view all subtasks of the main parent tasks and do the task delegation for it. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="helpdesk1.png">
		</div>
	</div>
</section>
<section class="oe_container lead mt64">
    <div >
        <div class="oe_slogan oe_spaced text-center">
            <a class="btn mt8 ml8" title="Read More" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://apps.odoo.com/apps/modules/13.0/bi_subtask/" target="_blank"> Read More</a>
        </div>
    </div>
</section>


<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">2. Odoo13 Website Customer Helpdesk Support Ticket</p>
			<p class="oe_slogan">Website customer helpdesk support ticket module is used for give customer an interface where user can send support ticket request and attach documents from website. Support ticket will be send by email to customer and admin.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="helpdesk2.png">
		</div>
	</div>
</section>
<section class="oe_container lead mt64">
    <div >
        <div class="oe_slogan oe_spaced text-center">
            <a class="btn mt8 ml8" title="Read More" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://apps.odoo.com/apps/modules/13.0/bi_website_support_ticket/" target="_blank"> Read More</a>
        </div>
    </div>
</section>


<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">3. Odoo13 Helpdesk Support Ticket Locking System</p>
			<p class="oe_slogan">This apps helps to lock the ticket. No one can edit or delete it. Only the user who locked the ticket can update it or unlock it. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="helpdesk3.png">
		</div>
	</div>
</section>
<section class="oe_container lead mt64">
    <div >
        <div class="oe_slogan oe_spaced text-center">
            <a class="btn mt8 ml8" title="Read More" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://apps.odoo.com/apps/modules/13.0/bi_website_lock_ticket/" target="_blank"> Read More</a>
        </div>
    </div>
</section>


<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">4. Odoo13 Helpdesk Support Re-assign Ticket System</p>
			<p class="oe_slogan">This apps helps to re-assign ticket to the team leader, user, helpdesk team. whoever you assign the ticket he/she will get the email notification.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="helpdesk4.png">
		</div>
	</div>
</section>
<section class="oe_container lead mt64">
    <div >
        <div class="oe_slogan oe_spaced text-center">
            <a class="btn mt8 ml8" title="Read More" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://apps.odoo.com/apps/modules/13.0/bi_website_re_assign_ticket/" target="_blank"> Read More</a>
        </div>
    </div>
</section>


<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">5. Odoo13 Website Helpdesk Ticket Solution Answer</p>
			<p class="oe_slogan">This apps helps to make solution on ticket/issue of helpdesk and send to customer through report. or Using Portal login customer can see the Solution.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="helpdesk5.png">
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="helpdesk5_1.png">
		</div>
	</div>
</section>
<section class="oe_container lead mt64">
    <div >
        <div class="oe_slogan oe_spaced text-center">
            <a class="btn mt8 ml8" title="Read More" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://apps.odoo.com/apps/modules/13.0/bi_website_ticket_problem_solution/" target="_blank"> Read More</a>
        </div>
    </div>
</section>


<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">6. Odoo13 Helpdesk Ticket Auto Response System</p>
			<p class="oe_slogan">This apps helps to configure and send email notification when ticket stage changes.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="helpdesk6.png">
		</div>
	</div>
</section>
<section class="oe_container lead mt64">
    <div >
        <div class="oe_slogan oe_spaced text-center">
            <a class="btn mt8 ml8" title="Read More" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://apps.odoo.com/apps/modules/13.0/bi_ticket_auto_response/" target="_blank"> Read More</a>
        </div>
    </div>
</section>


<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">7. Odoo13 Helpdesk Support Ticket By Team</p>
			<p class="oe_slogan">This apps helps display your teams at website with team details.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="helpdesk7.png">
		</div>
	</div>
</section>
<section class="oe_container lead mt64">
    <div >
        <div class="oe_slogan oe_spaced text-center">
            <a class="btn mt8 ml8" title="Read More" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://apps.odoo.com/apps/modules/13.0/bi_support_ticket_by_team/" target="_blank"> Read More</a>
        </div>
    </div>
</section>


<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">8. Odoo13 Helpdesk Support Ticket Merge</p>
			<p class="oe_slogan"> This apps helps you to merge tickets of your helpdesk support system.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="helpdesk8.png">
		</div>
	</div>
</section>
<section class="oe_container lead mt64">
    <div >
        <div class="oe_slogan oe_spaced text-center">
            <a class="btn mt8 ml8" title="Read More" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://apps.odoo.com/apps/modules/13.0/bi_support_helpdesk_ticket_merge/" target="_blank"> Read More</a>
        </div>
    </div>
</section>



<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">9. Odoo13 Helpdesk Ticket Knowledge Base</p>
			<p class="oe_slogan">This apps helps support team to see and create/manage knowledge base of questions and answers for helpdesk support ticket.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="helpdesk9.png">
		</div>
	</div>
</section>
<section class="oe_container lead mt64">
    <div >
        <div class="oe_slogan oe_spaced text-center">
            <a class="btn mt8 ml8" title="Read More" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://apps.odoo.com/apps/modules/13.0/bi_helpdesk_ticket_knowledge_base/" target="_blank"> Read More</a>
        </div>
    </div>
</section>



<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">10. Odoo13 Helpdesk Support Ticket Maintenance</p>
			<p class="oe_slogan">This apps helps helpdesk team to create Maintenance Request from Ticket/Issue.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="helpdesk10.png">
		</div>
	</div>
</section>
<section class="oe_container lead mt64">
    <div >
        <div class="oe_slogan oe_spaced text-center">
            <a class="btn mt8 ml8" title="Read More" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://apps.odoo.com/apps/modules/13.0/bi_helpdesk_support_ticket_maintenance/" target="_blank"> Read More</a>
        </div>
    </div>
</section>



<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">11. Odoo13 Helpdesk Email Domain Restriction</p>
			<p class="oe_slogan">This apps allows configuring a list of the domain to block. Listed domains will not be able to create a support ticket from the website.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="helpdesk11.png">
		</div>
	</div>
</section>
<section class="oe_container lead mt64">
    <div >
        <div class="oe_slogan oe_spaced text-center">
            <a class="btn mt8 ml8" title="Read More" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://apps.odoo.com/apps/modules/13.0/bi_helpdesk_domain_restriction/" target="_blank"> Read More</a>
        </div>
    </div>
</section>


<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">12. Odoo13 Helpdesk Service Level Agreement</p>
			<p class="oe_slogan">This apps helps helpdesk team to have service level agreement(SLA) on Help Desk.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="helpdesk12.png">
		</div>
	</div>
</section>
<section class="oe_container lead mt64">
    <div >
        <div class="oe_slogan oe_spaced text-center">
            <a class="btn mt8 ml8" title="Read More" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://apps.odoo.com/apps/modules/13.0/bi_helpdesk_service_level_agreement/" target="_blank"> Read More</a>
        </div>
    </div>
</section>


<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">13. Odoo13 Sales Contract and Recurring Invoice</p>
			<p class="oe_slogan">This apps used to maintain the contracts for the product sold by the company. It is also allowing you to create recurring invoice from contract based on period configured on contract.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="helpdesk13.png">
		</div>
	</div>
</section>
<section class="oe_container lead mt64">
    <div >
        <div class="oe_slogan oe_spaced text-center">
            <a class="btn mt8 ml8" title="Read More" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://apps.odoo.com/apps/modules/13.0/bi_contract_recurring_invoice_analytic/" target="_blank"> Read More</a>
        </div>
    </div>
</section>


<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">14. Odoo13 Service Level Agreements to Customer for Helpdesk/Support</p>
			<p class="oe_slogan"> This apps helps to create service level agreements, print and send service level agreements to customer by SLA level.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="helpdesk14.png">
		</div>
	</div>
</section>
<section class="oe_container lead mt64">
    <div >
        <div class="oe_slogan oe_spaced text-center">
            <a class="btn mt8 ml8" title="Read More" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://apps.odoo.com/apps/modules/13.0/bi_customer_sla_contract_helpdesk/" target="_blank"> Read More</a>
        </div>
    </div>
</section>



<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">15. Odoo13 Helpdesk Support Tickets Dashboard</p>
			<p class="oe_slogan">This apps helps to add helpdesk/support team wise dashboard view for helpdesk tickets to make tickets view easier and attractive.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="helpdesk15.png">
		</div>
	</div>
</section>
<section class="oe_container lead mt64">
    <div >
        <div class="oe_slogan oe_spaced text-center">
            <a class="btn mt8 ml8" title="Read More" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://apps.odoo.com/apps/modules/13.0/bi_helpdesk_support_ticket_dashbord/" target="_blank"> Read More</a>
        </div>
    </div>
</section>



<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">16. Odoo13 Product/Material Purchase Requisitions</p>
			<p class="oe_slogan">This apps helps to manage Purchase Requisition by employee/user.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="helpdesk16.png">
		</div>
	</div>
</section>
<section class="oe_container lead mt64">
    <div >
        <div class="oe_slogan oe_spaced text-center">
            <a class="btn mt8 ml8" title="Read More" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://apps.odoo.com/apps/modules/13.0/bi_material_purchase_requisitions/" target="_blank"> Read More</a>
        </div>
    </div>
</section>



<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">17. Odoo13 Asset MRO - Equipment Maintenance</p>
			<p class="oe_slogan"> This apps helps to create material requisition and job order from maintenance request form with planned material and maintenance checklists.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="helpdesk17.png">
		</div>
	</div>
</section>
<section class="oe_container lead mt64">
    <div >
        <div class="oe_slogan oe_spaced text-center">
            <a class="btn mt8 ml8" title="Read More" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://apps.odoo.com/apps/modules/13.0/bi_asset_mro_maintenance_management/" target="_blank"> Read More</a>
        </div>
    </div>
</section>



<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">18. Odoo13 Project Job Costing and Job Cost Sheet</p>
			<p class="oe_slogan">Project Job Costing and Job Cost Sheet module used to manage project job cost and job cost sheet.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="helpdesk18.png">
		</div>
	</div>
</section>
<section class="oe_container lead mt64">
    <div >
        <div class="oe_slogan oe_spaced text-center">
            <a class="btn mt8 ml8" title="Read More" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://apps.odoo.com/apps/modules/13.0/bi_odoo_job_costing_management/" target="_blank"> Read More</a>
        </div>
    </div>
</section>



<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">19. Odoo13 Website Job/Work Order Form and Portal</p>
			<p class="oe_slogan">This apps helps to create website Job/Work Order to allow your customer/visitor from website/portal in Odoo.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="helpdesk19.png">
		</div>
	</div>
</section>
<section class="oe_container lead mt64">
    <div >
        <div class="oe_slogan oe_spaced text-center">
            <a class="btn mt8 ml8" title="Read More" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://apps.odoo.com/apps/modules/13.0/bi_website_job_workorder/" target="_blank"> Read More</a>
        </div>
    </div>
</section>



<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">20. Odoo13 Dashboard for Project for Construction and Job Contracting</p>
			<p class="oe_slogan">This app adds dashboard on job costing and contracting on a project.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="helpdesk20.png">
		</div>
	</div>
</section>
<section class="oe_container lead mt64">
    <div >
        <div class="oe_slogan oe_spaced text-center">
            <a class="btn mt8 ml8" title="Read More" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://apps.odoo.com/apps/modules/13.0/bi_job_costing_dashboard/" target="_blank"> Read More</a>
        </div>
    </div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">21. Odoo13 Job Cost Sheet Integration with Material Planning of Job Order</p>
			<p class="oe_slogan">This apps helps to Create/edit Job Cost Sheet from Material Planning from Job Order.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="helpdesk21.png">
		</div>
	</div>
</section>
<section class="oe_container lead mt64">
    <div >
        <div class="oe_slogan oe_spaced text-center">
            <a class="btn mt8 ml8" title="Read More" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://apps.odoo.com/apps/modules/13.0/bi_job_order_link_cost_sheet/" target="_blank"> Read More</a>
        </div>
    </div>
</section>

<section class="oe_container oe_dark" style="min-width: 110%;margin-left: -5%;">
	<div>
		<div class="row">
			<div class="col-sm-4" style="margin: auto;">
				<p class="oe_slogan" style="font-size: 35px;color: #5082c4;font-style: italic;font-weight: bold;">Apps May You Like</p>
			</div>
		</div>
		<div class="row col-sm-12" style="margin-left: 1%;padding: 1% 8%;">
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/website_all_in_one/">
					<img class="img img-responsive" src="related/website_all_in_one.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/website_claim/">
					<img class="img img-responsive" src="related/website_claim.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/website_credit_payment/">
					<img class="img img-responsive" src="related/website_credit_payment.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/website_machine_repair_management/">
					<img class="img img-responsive" src="related/website_machine_repair_management.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/website_sale_stock_notify/">
					<img class="img img-responsive" src="related/website_sale_stock_notify.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/website_sale_product_stock/">
					<img class="img img-responsive" src="related/3.png" style="width: 100%;"/>
				</a>
			</div>
		</div>
	</div>
</section>

<section class="oe_container oe_dark" style="min-width: 110%;margin-left: -5%;">
	<div>
		<div class="row">
			<div class="col-sm-4" style="margin: auto;">
				<p class="oe_slogan" style="font-size: 35px;color: #5082c4;font-style: italic;font-weight: bold;">Most Demanded Apps</p>
			</div>
		</div>
		<div class="row col-sm-12" style="margin-left: 1%;padding: 1% 8%;">
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/pos_orders_all/">
					<img class="img img-responsive" src="demanded/all_in_one_pos.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/bi_customer_overdue_statement/">
					<img class="img img-responsive" src="demanded/customer_overdue.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/generic_excel_report/">
					<img class="img img-responsive" src="demanded/generic_excel_report.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/sales_commission_generic/">
					<img class="img img-responsive" src="demanded/sale_commision.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/bi_generic_import/">
					<img class="img img-responsive" src="demanded/bi_generic_import.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/branch/">
					<img class="img img-responsive" src="demanded/branch.png" style="width: 100%;"/>
				</a>
			</div>
		</div>	
	</div>
</section>

<section class="oe_container">
	<div >
		<div >
			<h2 class="oe_slogan">Free Support</h2>
			<h3 class="oe_slogan" style="font-size: 21px; color: #000000 !important;">You will get 90 Days free support incase any bugs or issue (Except data recovery).</h3>
			<p class="oe_slogan" style="font-size: 18px; ">
		At BrowseInfo we offer  end to end solution for Odoo services. Which includes analysis &amp; consultation on the workflows and integration part.  Please note that You're not allowed to distribute this module after purchase! Incase of any question regarding this module feel free to email us on <a href="mailto:sales@browseinfo.in">sales@browseinfo.in</a> or raise a ticket on support.
			</p>
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div >
		<div >
			<div class="img img-responsive text-center">
				<a href="http://www.browseinfo.in" target="new" style="display: grid;">
					<img src="bi_logo.png" style="margin: auto;max-width: 350px;">
				</a>
			</div>
		</div>
		<div class="oe_slogan oe_spaced text-center">
			<a class="btn mt8" title="Website" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="https://browseinfo.in/" target="_blank"> Website </a>
			<a class="btn mt8" title="Email on Support" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="https://browseinfo.in/request-support/" target="_blank"> Support Request </a>
			<a class="btn mt8" title="Request New Features now !" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="https://browseinfo.in/our-services/" target="_blank">Services</a>
		</div>
	</div>
</section>