/* Bootstrap form overrides and customizations */

.hide {
	display: none;
}

.show {
	display: block;
}

.form-check-input {
	cursor: pointer;
}

legend {
	font-size: 1rem;
}

.form-row>.col,
.form-row>[class*="col-"] {
	padding: 0;
	margin: 0 5px;
}

.delete-icon {
	font-size: 32px;
	cursor: pointer;
}

.fieldset-wrap {
	padding: 10px;
	border: 1px solid #bbb;
	border-radius: 0.25rem;
}

.form-row .form-label-group {
	margin-bottom: 0.6rem;
}

.form-row .form-group {
	margin: 0 5px 0.6rem;
}

.add-icon {
	display: inline-block;
	height: 50px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 5px 12px;
	font-size: 24px;
	background: #f5f5f5;
	color: #555;
	cursor: pointer;
	&.hide {
		display: none;
	}
}

.is-mandatory::after {
	content: ' *';
	font-size: inherit;
	color: #CF4520;
}

.form-label-group.mod-date {
	margin-bottom: 0;
}

.datetimepicker-input {
	border-radius: 0.25rem 0 0 0.25rem;
	width: 150px;
}

.input-group-append.mod-calendar .mdi-calendar {
	font-size: 22px;
}

.input-group.date {
	flex-wrap: inherit;
	width: 200px;
}

.fieldset-wrap .input-group.date {
	margin: 0 5px 0.6rem 5px;
}

.pmd-textfield label,
.select2-selection__placeholder {
	color: #495057;
}

.pmd-textfield-floating-label.pmd-textfield-floating-label-completed label {
	padding-left: 10px;
	transform: translateY(5px);
	font-weight: 300;
	font-size: 12px;
	opacity: 0.65;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
	margin-top: 3px;
}

.select2-container {
	padding-left: 10px;
	// border: 1px solid #e6e6e6;
    // padding-top: 11px;
    // margin-top: -11px;
    // border-radius: 5px;
}

.pmd-textfield-floating-label label {
	font-size: 0.875rem;
	padding-left: 10px;
	line-height: 0.75rem;
	margin-bottom: 0;
}

.form-group.pmd-textfield {
	line-height: 0.375rem;
}

.form-label-group input:not(:placeholder-shown)~label {
	font-weight: 300;
}

.select2-container--bootstrap.select2-container--disabled .select2-selection,
.select2-container--bootstrap.select2-container--disabled .select2-selection--multiple .select2-selection__choice {
	background-color: inherit;
}

.mdi-close-circle-outline {
	font-size: 24px;
	cursor: pointer;
}

.form-check-label {
	cursor: pointer;
}

.form-row.clone-fields-row:nth-child(even) {
	background-color: rgba(0, 0, 0, 0.04);
	padding: 0.6rem 5px 0 5px;
	margin: 0px -10px 0.6rem -10px;
}

.select2-container--open .select2-dropdown--below {
	border-top: 1px solid #66afe9;
}

.select2-container--bootstrap.select2-container--focus .select2-selection,
.select2-container--bootstrap.select2-container--open .select2-selection {
	border-color: #80bdff;
}

.select2-container--bootstrap .select2-selection {
	border-color: #ced4da;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.loader {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.1);
	z-index: 1051;
}

.loader-wrap {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.mdi-loading::before {
	animation-duration: 1s;
}

/* .loader{
	display: none;
	width:100%;
	height:100%;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	background-color: rgba(0, 0, 0, 0.5);
	filter: blur(10px) contrast(20);
	z-index: 2;
}
.blob-1,.blob-2{
	width:70px;
	height:70px;
	position:absolute;
	background:#fff;
	border-radius:50%;
	top:50%;left:50%;
	transform:translate(-50%,-50%);
}
.blob-1{
	left:20%;
	animation:osc-l 2s ease infinite;
}
.blob-2{
	left:80%;
	animation:osc-r 2s ease infinite;
	background:#CF4520;
}
@keyframes osc-l{
	0%{left:20%;}
	50%{left:50%;}
	100%{left:20%;}
}
@keyframes osc-r{
	0%{left:80%;}
	50%{left:50%;}
	100%{left:80%;}
} */

.mdi-loading {
	font-size: 48px;
}

.was-validated .form-control:valid,
.form-control.is-valid,
.was-validated .custom-select:valid,
.custom-select.is-valid,
.was-validated .custom-control-input:valid,
.custom-control-input.is-valid {
	border-color: #ced4da;
}

.was-validated .form-check-input:valid~.form-check-label,
.form-check-input.is-valid~.form-check-label,
.was-validated .custom-control-input:valid ~ .custom-control-label,
.custom-control-input.is-valid ~ .custom-control-label,
.was-validated .custom-control-input:valid ~ .custom-control-label::before,
.custom-control-input.is-valid ~ .custom-control-label::before {
	color: inherit;
	border-color: inherit;
}

.form-row.mod-file-input {
	align-items: center;
}

.was-validated .form-control:invalid~.select2-container--bootstrap .select2-selection {
	border-color: #dc3545;
	border-width: 2px;
}

.was-validated input[type=file]:invalid {
	~.btn {
		border-color: #dc3545;
		border-width: 2px;
	}
	~.invalid-feedback {
		display: block;
	}
}

form label {
	font-weight: normal;
}

.was-validated .form-control:valid,
.form-control.is-valid {
	background-image: none;
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
	background-image: none;
}

.form-control.mod-disabled {
	pointer-events: none;
	background-color: #e9ecef;
	opacity: 1;
	cursor: not-allowed;
}

.select2-container--disabled {
	padding-top: 12px;
	margin-top: -12px;
	pointer-events: none;
	cursor: not-allowed;
	background-color: rgba(0, 0, 0, 0.075);
}

.form-check~.btn-link {
	padding: 0;
	height: 21px;
}

.form-check-inline:first-of-type {
	margin-left: 0.75rem;
}

main {
	margin: 15px 0;
}

// .modal-body {
// 	/* Becuase of date pickers */
// 	overflow: initial !important; 
// }

.modal-loader {
	display: flex;
	height: 300px;
	justify-content: center;
	align-items: center;
}

.form-group.mod-modal-form-btn {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	>.form-check-label {
		width: 45%;
	}
}

.radio-buttons-wrap {
	display: flex;
}

// for mobile
@media (max-width: 500px) {
	.form-group.mod-modal-form-btn {
		>.form-check-label {
			width: 80%;
		}
		.radio-buttons-wrap {
			margin-left: -10px;
		}
	}
	.wizard .actions li a {
		padding: 10px 14px;
	}
	.input-group.date {
		margin-left: 5px;
	}
	div.dropdown-menu.bootstrap-datetimepicker-widget {
		left: -5px !important;
	}
	.bootstrap-datetimepicker-widget.dropdown-menu.pull-right:before {
		right: 118px;
	}
	.bootstrap-datetimepicker-widget.dropdown-menu.pull-right:after {
		right: 119px;
	}
}

.form-group.mod-lg {
	.input-group.date {
		width: 300px;
	}
	.datetimepicker-input {
		width: 250px;
	}
}

.datepickerbutton {
	cursor: pointer;
}

input[readonly] {
	outline: 0;
}

.hv-center {
	display: flex;
	align-items: center;
	justify-content: center;
	&.mod-wrap {
		flex-wrap: wrap;
	}
}

.v-center {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.alert-wrap {
	text-align: center;
	.alert {
		display: inline-block;
		&.hide {
			display: none;
		}
	}
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
	background-color: blue !important;
}

.custom-checkbox .custom-control-input:checked:focus~.custom-control-label::before {
	box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 255, 0, 0.25)
}

.custom-checkbox .custom-control-input:focus~.custom-control-label::before {
	box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25)
}

.custom-checkbox .custom-control-input:active~.custom-control-label::before {
	background-color: #C8FFC8;
}

.custom-control-label {
	cursor: pointer;
}

.modal-body-content {
	padding-bottom: 30px;
	.carousel-inner {
		padding: 5px;
	}
	.carousel-control-prev, .carousel-control-next {
		color: #000;
		width: 50px;
		top: -16px;
		bottom: -16px;
		background-color: #eee;
		&::after {
			color: #000;
			font-family: FontAwesome;
			position: relative;
			top: -10%;
		}
	}
	.carousel-control-prev {
		left: -15px;
		&::after {
			content: "\f0a5";
		}
	}
	.carousel-control-next {
		right: -15px;
		&::after {
			content: "\f0a4";
		}
	}
	.carousel-indicators {
		bottom: -45px;
		li {
			background-color: blue;
			width: 40px;
			height: 5px;
			margin-right: 5px;
			margin-left: 5px;
		}
	}
}

.uploaded-files {
	display: flex;
	flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.uploaded-file {
	display: flex;
	align-items: center;
	margin: 0 10px 5px 0;
    border-radius: 4px;
    padding: 5px 8px;
	background-color: rgba(163, 82, 82, 0.1);
    cursor: pointer;
	&:hover {
		background-color: rgba(163, 82, 82, 0.25);
		.attachment-delete {
			visibility: visible;
		}
	}
	&.hide {
		display: none;
	}
}

.attachment-link {
	max-width: 250px;
    margin-left: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #333;
}

.attachment-delete {
	visibility: hidden;
}

.upload-btn-wrap {
	margin-top: 10px;
}

.multiple-uploads-wrap {
	margin-bottom: 10px;
}

.declaration-ul {
	list-style-type: decimal;
    margin: 0;
    padding: 0 20px;
	font-size: .875rem;
	 p {
		font-size: .875rem !important;
	}
}

.custom-control.custom-checkbox .custom-control-input:not(:checked):not(:indeterminate) ~ .custom-control-label:before {
	outline: 0;
}

.wizard .actions li:not(.disabled) {
    margin-left: 15px;
}

.form-control.is-invalid {
	border-color: #dc3545 !important;
}

.pmd-textfield-focused {
	display: none;
}

.mt--10 {
	margin-top: -10px;
}

// To remove up/down arrows
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    appearance: none;
    margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}

.text-select-combo {
	display: flex;
	.pmd-textfield {
		padding-left: 0;
	}
}

.disabled:hover {
	cursor: not-allowed;
	a {
		cursor: not-allowed;
	}
}

.flag-text {
	margin-left: 3px;
}

.phone-field {
	display: flex;
	margin: 0 5px;
	position: relative;
	.form-group.pmd-textfield {
		width: 80px;
		height: 47px;
		margin: 0;
		border: 1px solid #ced4da;
		border-right: 0;
		border-radius: 0.25rem 0 0 0.25rem;
	}
	.select2-container--bootstrap .select2-selection {
		border-bottom: 0;
	}
	.phone-field_number {
		border-radius: 0 0.25rem 0.25rem 0;
	}
	.pmd-textfield-floating-label label {
		transform: translateY(18px);
	}
	.pmd-textfield-floating-label.pmd-textfield-floating-label-completed label {
		transform: translateY(5px);
	}
	&.is-invalid {
		margin-bottom: 5px;
		.invalid-feedback {
			position: absolute;
			bottom: -5px;
			left: 4px;
			display: block;
		}
		.form-group.pmd-textfield, .form-control {
			border-color: #dc3545;
		}
	}
	
}