<section class="oe_container lead mt64">
	<div>
		<div class="col-md-12 mt16" style="padding:0;">
			<div class="col-md-12" style="padding:0;">
				<div class="panel-group mb0 mt0" role="tablist" id="priceAccordeon" style="padding:0;">
					<div class="panel-heading mb0 mt0 collapsed" role="tab" data-toggle="collapse" data-parent="#priceAccordeon" data-target="#priceAccordeon_area" aria-expanded="false" style="margin-left:0;padding:0 0 2px 0;text-align:right;">
						<strong>
							<div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;">
									Supported :
								</strong>
							</div>
							<div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;" title="The tool is compatible with the Odoo Enterprise version">
									<i class="fa fa-check" style="margin-left:4px;"> </i>
									Enterprise
								</strong>
							</div>
							<div style="background-color:#875A7B;padding:5px;margin-top:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;" title="The tool is compatible with the Odoo Community version">
									<i class="fa fa-check" style="margin-left:4px;"> </i>
									Community
								</strong>
							</div>
							<div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;" title="The tool might be installed to Odoo.sh if you have a linked private git repository">
									<i class="fa fa-check" style="margin-left:4px;"> </i>
									Odoo.sh
								</strong>
							</div>
						</strong>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="oe_container lead bi_title_box">
	<div >
		<div >
			<h2 class="oe_slogan bi_title" style="color:#5082c4;">
				<b>Helpdesk Support Ticket Knowledge Base(Q & A) Odoo Apps</b>
			</h2>
			<p class="oe_slogan">
				Support Helpdesk Ticket Knowledge Base-Helpdesk Q&A apps helps support team to see and create/manage knowledge base of questions and answers for helpdesk support ticket in Odoo. This Odoo apps almost contain everything you need for Service Desk, Technical support team, Call center management, Issue ticketing system which include issue tracking, billing payment, tech support portal, service request with timesheet to be managed in Odoo project management app. Website customer helpdesk support Ticketing System is used for give customer an interface where he/she can send support ticket request and attach documents from website.Support ticket will send by email to customer and admin. for Online ticketing system for customer support in Odoo Support. Also its allow to create invoice easily from the timesheet logged for the project issue/helpdesk support ticketing system. Customer can view their ticket from the website portal and easily see stage of the reported ticket also customer can communicate with help-desk support team from website communication option inculding questions and answer option as Q&A feature listed on website. 
			</p>
		</div>
	</div>
</section>

<section class="oe_container lead bi_features">
	<div >
		<div>
			<h3 class="oe_slogan" style="opacity:1;background: linear-gradient(to right, #86bcf2 0%, #e2f2f8 100%);padding: 10px 0px;color: ##201111;letter-spacing: 0.2em;text-transform: uppercase;text-shadow: 0.1em .04em 0.1em #7d8c88;"><b>Features</b></h3>
		</div>
		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/f11.png"/>
					</div>
					<div class="col-md-9">
					  <h4><b>Create Knowledge Base (Q&A).</b></h4>
					  <span class="oe_slogan">Allow support team to quickly create Knowledge Base (Q&A) from ticket in backend.</span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/f4.png"/>
					</div>
					<div class="col-md-9">
						<h4><b>Tags.</b></h4>
						<span class="oe_slogan">Allow support team to set Tags after creating Knowledge Base (Q&A) in backend.</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/f3.png"/>
					</div>
					<div class="col-md-9">
					  <h4><b>Category.</b></h4>
					  <span class="oe_slogan">Allow support team to set Category after creating Knowledge Base (Q&A) in backend.</span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/f6.png"/>
					</div>
					<div class="col-md-9">
						<h4><b>Search Knowledge Base In Portal.</b></h4>
						<span class="oe_slogan">Customer can search Knowledge Base (Q&A) by category,tags and questions.</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/f55.png"/>
					</div>
					<div class="col-md-9">
					  <h4><b>Customer Portal View Knowledge Base.</b></h4>
					  <span class="oe_slogan">Customer Can see the Knowledge Base(Q&A) before submitting issue ticket to get solution of problem.</span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/f22.png"/>
					</div>
					<div class="col-md-9">
						<h4><b>Search Knowledge Base (Q&A).</b></h4>
						<span class="oe_slogan">Allow support team to search in Knowledge Base (Q&A) and quickly reply to customers with URL of website for that Knowledge Base (Q&A).</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="oe_container lead mt64">
	<div >
		<div class="oe_slogan oe_spaced text-center">
			<a class="btn mt8 mr8" title="Demo Request" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="mailto:sales@browseinfo.in?Subject=Demo Request for Helpdesk Support Ticket Knowledge Base(Q & A) Odoo Apps" target="_top"> Demo Request </a>
			<a class="btn mt8 ml8" title="Video Tutorial" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://youtu.be/Ewc08lMr588" target="_blank"> Video Tutorial</a>
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Knowledge Base Category</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="know1.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Knowledge Base Tags</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="know2.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Create/Post Knowledge Base (Q&A) and Search Knowledge Base (Q&A)</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="know3.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Post/Create Knowledge Base </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="know4.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Edit Knowledge Base (Q&A) </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="know5.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Search into Knowledge Base From Ticket</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="know6.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Portal Search in Knowledge Base</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="know7.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Portal Knowledge Base (Q&A)</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="know10.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Knowledge Base (Q&A) Details</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="know11.png">
		</div>
	</div>
</section>

<section class="oe_container oe_dark" style="min-width: 110%;margin-left: -5%;">
	<div>
		<div class="row">
			<div class="col-sm-4" style="margin: auto;">
				<p class="oe_slogan" style="font-size: 35px;color: #5082c4;font-style: italic;font-weight: bold;">Apps May You Like</p>
			</div>
		</div>
		<div class="row col-sm-12" style="margin-left: 1%;padding: 1% 8%;">
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/odoo_website_marketplace/">
					<img class="img img-responsive" src="related/odoo_website_marketplace.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/odoo_website_daily_deals/">
					<img class="img img-responsive" src="related/odoo_website_daily_deals.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/website_stock_reservation/">
					<img class="img img-responsive" src="related/website_stock_reservation.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/website_sale_stock_notify/">
					<img class="img img-responsive" src="related/website_sale_stock_notify.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/odoo_website_rma/">
					<img class="img img-responsive" src="related/odoo_website_rma.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/website_claim/">
					<img class="img img-responsive" src="related/website_claim.png" style="width: 100%;"/>
				</a>
			</div>
		</div>
	</div>
</section>

<section class="oe_container oe_dark" style="min-width: 110%;margin-left: -5%;">
	<div>
		<div class="row">
			<div class="col-sm-4" style="margin: auto;">
				<p class="oe_slogan" style="font-size: 35px;color: #5082c4;font-style: italic;font-weight: bold;">Most Demanded Apps</p>
			</div>
		</div>
		<div class="row col-sm-12" style="margin-left: 1%;padding: 1% 8%;">
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/pos_orders_all/">
					<img class="img img-responsive" src="demanded/all_in_one_pos.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/bi_customer_overdue_statement/">
					<img class="img img-responsive" src="demanded/customer_overdue.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/generic_excel_reports/">
					<img class="img img-responsive" src="demanded/generic_excel_report.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/sales_commission_generic/">
					<img class="img img-responsive" src="demanded/sale_commision.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/bi_generic_import/">
					<img class="img img-responsive" src="demanded/bi_generic_import.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/branch/">
					<img class="img img-responsive" src="demanded/branch.png" style="width: 100%;"/>
				</a>
			</div>
		</div>	
	</div>
</section>

<section class="oe_container">
	<div >
		<div >
			<h2 class="oe_slogan">Free Support</h2>
			<h3 class="oe_slogan" style="font-size: 21px; color: #000000 !important;">You will get 90 Days free support incase any bugs or issue (Except data recovery).</h3>
			<p class="oe_slogan" style="font-size: 18px; ">
		At BrowseInfo we offer  end to end solution for Odoo services. Which includes analysis &amp; consultation on the workflows and integration part.  Please note that You're not allowed to distribute this module after purchase! Incase of any question regarding this module feel free to email us on <a href="mailto:sales@browseinfo.in">sales@browseinfo.in</a> or raise a ticket on support.
			</p>
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div >
		<div >
			<div class="img img-responsive text-center">
				<a href="http://www.browseinfo.in" target="new" style="display: grid;">
					<img src="bi_logo.png" style="margin: auto;max-width: 350px;">
				</a>
			</div>
		</div>
		<div class="oe_slogan oe_spaced text-center">
			<a class="btn mt8" title="Website" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="https://browseinfo.in/" target="_blank"> Website </a>
			<a class="btn mt8" title="Email on Support" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="https://browseinfo.in/request-support/" target="_blank"> Support Request </a>
			<a class="btn mt8" title="Request New Features now !" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="https://browseinfo.in/our-services/" target="_blank">Services</a>
		</div>
	</div>
</section>