.manage_subs_form{
  font-size : 14px;
  font-family: FedraSansStdLight;
}
.child_label{
  font-size : 12px;
  font-family: FedraSansStdLight;
}
.form-check-inline{
  margin-right: 0 !important;
}
.treejs {
  -webkit-box-sizing: border-box;
   box-sizing: border-box;
  font-size: 14px;
  width: 100%;
}
.treejs *:after,
.treejs *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.treejs > .treejs-node {
  padding-left: 0;
}
.treejs .treejs-nodes {
  list-style: none;
  padding-left: 40px;
  padding-top:10px;
  padding-bottom:25px;
  overflow: hidden;
  -webkit-transition: height 150ms ease-out, opacity 150ms ease-out;
  -o-transition: height 150ms ease-out, opacity 150ms ease-out;
  transition: height 150ms ease-out, opacity 150ms ease-out;
}
.treejs .treejs-node {
  cursor: pointer;
  overflow: hidden;
}
.treejs .treejs-node.treejs-placeholder {
  padding-left: 10px;
  float:left;}
.treejs .treejs-switcher {
  display: none;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  cursor: pointer;
  float:right;
  position: relative;
  -webkit-transition: -webkit-transform 150ms ease-out;
  transition: -webkit-transform 150ms ease-out;
  -o-transition: transform 150ms ease-out;
  transition: transform 150ms ease-out;
  transition: transform 150ms ease-out, -webkit-transform 150ms ease-out;
    -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.treejs .treejs-switcher:before {
  position: absolute;
  top: 8px;
  left: 6px;
  display: block;
  content: ' ';
  border: 4px solid transparent;
  border-top: 4px solid rgba(0, 0, 0, 0.4);
  -webkit-transition: border-color 150ms;
  -o-transition: border-color 150ms;
  transition: border-color 150ms;
}
.treejs .treejs-switcher:hover:before {
  border-top: 4px solid rgba(0, 0, 0, 0.65);
}
.treejs .treejs-node__close > div > .treejs-switcher {
  -webkit-transform: rotate(+360deg);
      -ms-transform: rotate(+360deg);
          transform: rotate(+360deg);
}
.treejs .treejs-node__close > .treejs-nodes {
  height: 0;
  padding-bottom:0;
}
.treejs-node > .treejs-checkbox {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
}
.treejs-node > .treejs-checkbox:before {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  position: absolute;
  top: 2px;
  content: ' ';
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid rgba(0, 0, 0, 0.125);
  border-radius: 2px;
}
.treejs .treejs-checkbox:hover:before {
  -webkit-box-shadow: 0 0 2px 1px #1890ff;
          box-shadow: 0 0 2px 1px #1890ff;
}

.treejs .treejs-node__disabled {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
}
.treejs .treejs-node__disabled .treejs-checkbox {
  cursor: not-allowed;
}
.treejs .treejs-node__disabled .treejs-checkbox:before {
  cursor: not-allowed;
  border-color: #d9d9d9 !important;
  background-color: #f5f5f5 !important;
}
.treejs .treejs-node__disabled .treejs-checkbox:hover:before {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
.switch {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right:7px;
  width: 40px;
  height: 15px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f07a7c;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}
.treejs .treejs-node__checked > div > .switch > .slider{
  background-color: #2196F3 !important;
}
.treejs .treejs-node__halfchecked > div > .switch > .slider{
  background-color: #2196F3 !important;
}
.treejs .treejs-node__checked > div > .switch > .slider:before {

  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}
.treejs .treejs-node__halfchecked > div > .switch > .slider:before {
  background-color: white;
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 15px;
}

.slider.round:before {
  border-radius: 50%;
}
.treejs .treejs-label {
  vertical-align: middle;
}
.treejs .treejs-node__checked > .treejs-checkbox:before {
  background-color: #1890ff;
  border-color: #1890ff;
}
.treejs .treejs-node__checked > .treejs-checkbox:after {
  position: absolute;
  content: ' ';
  display: block;
  top: 4px;
  left: 5px;
  width: 5px;
  height: 9px;
  border: 2px solid #fff;
  border-top: none;
  border-left: none;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.treejs .treejs-node__halfchecked > .treejs-checkbox:before {
  background-color: #1890ff;
  border-color: #1890ff;
}
.treejs .treejs-node__halfchecked > .treejs-checkbox:after {
  position: absolute;
  content: ' ';
  display: block;
  top: 9px;
  left: 3px;
  width: 10px;
  height: 2px;
  background-color: #fff;
}
.treejs .treejs-node__disabled .treejs-node__checked > .treejs-checkbox:after {
  border-color: #d9d9d9;
}
.treejs .treejs-node__disabled .treejs-node__halfchecked > .treejs-checkbox:after {
  background-color: #d9d9d9;
}
.treejs .treejs-node__disabled.treejs-node__checked > .treejs-checkbox:after {
  border-color: #d9d9d9;
}
.treejs .treejs-node__disabled.treejs-node__halfchecked > .treejs-checkbox:after {
  background-color: #d9d9d9;
}
.treejstest > .treejs > .treejs-nodes > .treejs-node > .treejs-nodes > .treejs-node > .custom_parent_header{
  font-size:16px;
  position: relative;
  align-items: center;
  background-color:#cfd8dc;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.treejstest > .treejs > .treejs-nodes > .treejs-node > .custom_parent_header{
	display:none;
}
.treejstest > .treejs > .treejs-nodes > .treejs-node > .treejs-nodes{
	padding: 0px !important;
	background:none;
	border:none;
}
.treejstest > .treejs > .treejs-nodes{
	padding: 0px !important;
}

.treejstest > .treejs > .treejs-nodes > .treejs-node > .treejs-nodes > .treejs-node > .custom_parent_header > .treejs-checkbox{
	display:none !important;
}
.treejstest > .treejs > .treejs-nodes > .treejs-node > .treejs-nodes > .treejs-node > .custom_parent_header > .treejs-switcher {
  display: inline-block;
}

.treejstest > .treejs > .treejs-nodes > .treejs-node > .treejs-nodes > .treejs-node > .custom_parent_header + .treejs-nodes{
  padding-top:15px;
  margin-bottom:15px;
  background-color:#eceff1;
  border:1px solid #cfd8dc;
}
.custom_parent_header > .treejs-label{
  text-align:center;
  color:#607d8b;
  font-weight:bold;
}
.treejs-label{
  color:#455a64;
}
