@media print {
    .js_call_campaignform {
        font-size: 13px;
    }
    .js_call_campaignform textarea.form-control {
        height: 10em;
    }
    .js_call_campaignform h1 {
        font-size: 28px;
    }
    .js_call_campaignform h2 {
        font-size: 20px;
    }
    .js_question-wrapper {
        page-break-inside: avoid;
    }
}
