@font-face {
    font-family: WF-028154-009464-000003;
    src: url(../fonts/WF-028154-009464-000003.ttf);
}
@font-face {
    font-family: WF-028154-009464-000007;
    src: url(../fonts/WF-028154-009464-000007.ttf);
}
@font-face {
    font-family: WF-028154-009464-000008;
    src: url(../fonts/WF-028154-009464-000008.ttf);
}
@font-face {
    font-family: WF-028154-009464-000021;
    src: url(../fonts/WF-028154-009464-000021.ttf);
}
@font-face {
    font-family: WF-028154-009464-000050;
    src: url(../fonts/WF-028154-009464-000050.ttf);
}
/* div {
    border: 0.5px solid rgb(201, 201, 201);
    margin: 0.8rem;
} */

.account-header {
  /*width: 100%;
  height: 72px;
  padding: 0 2rem;*/
  background-color: #e4ded4;
  /*padding-top: 0.5rem;*/
}

.nav>li>a {
    font-size: 14px;
    color: #676055;
    text-decoration: none;
}

.isha-header {
  width: 100%;
  height: 120px;
  /*margin: 40px 0 0; might be useful when account header is position fixed*/
  padding: 9px 72px 17px 54px;
  background-color: #faf7f0;
}
.oe_hidden {
  display: none !important;
  opacity: 0 !important;
}
.isha-logo-black {
  width: 55px;
  height: 52px;
  object-fit: contain;
}

/*.main-form {
    margin: 4rem 10rem;
}*/

/*overriding form-row*/
.main-form .form-row {
    margin: 1rem 0rem;
}

.registration-form-title {
    /*margin: 3.5rem 0rem 0.5rem 0rem;*/
    font-family: WF-028154-009464-000050;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #28231e;
}

.sub-title {
    font-family: WF-028154-009464-000021;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #cf4722;
}
@media (min-width: 579px) {

    .registration-form-title {
        font-size: 1.875rem;
        font-size: 3.1rem; /*change in style due to new requirement*/
    }
    .inquiry-form-title {
        font-size: 3.1rem; /*change in style due to new requirement*/
    }
    .sub-title {
        font-size: 1.5rem;
    }

}

@media (max-width:578px) {

    .registration-form-title, .inquiry-form-title {
        font-size: 2.5rem;
    }
    .sub-title {
        font-size: 1.2rem;
    }

}

.info {
    padding: 1.2rem 1.5rem;
    background-color: #fffbe7;
    border-radius: 8px;
    font-family: WF-028154-009464-000021;
    font-size: 0.9rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: 0.2px;
    color: #000000;
}

.main-form .section-label {
    margin: 2.5rem 0rem;
    font-family: WF-028154-009464-000050;
    font-size: 1.4rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #28231e;
}

.main-form .form-row label {
    margin-bottom: 0.65rem;
    font-family: WF-028154-009464-000021;
    font-size: 1rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.015rem;
    color: #000000;
}

/*overriding basic design*/
.form-control {
    margin: 0 0 1rem;
    width: 100%;
    padding: 0;
    border: none;
    border-bottom: solid 1px #142012;
    border-radius: 0;
}

.form-control:focus {
    box-shadow: none;
    border-color: #cf4722;
}

.select {
    font-family: WF-028154-009464-000007;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #000000;
}

/*overriding*/
.alert {
    font-size: 0.9rem;
}

.main-form .button-wrapper {
    margin: 3rem auto;
}

#program_fee {
    font-family: 'WF-028154-009464-000021';
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: #464038;
    line-height: 22.5px;
}

.main-form .register-button {
    text-align: center;
    width: 100%;
    height: 2.815rem;
    border-radius: 3px;
    background-color: #cf4520;
    color: #ffffff;
    border: 1px;
    font-size: 16.8px;/*0.9rem;*/
    font-family: WF-028154-009464-000007;
}

.main-form .register-button:hover,  .main-form .register-button:focus{
    background-color: #000422 !important;
}

.register-button-disabled {
    text-align: center;
    width: 12rem;
    height: 2.815rem;
    border-radius: 3px;
    background-color: grey;
    color: #ffffff;
    margin: 0rem 0rem 0rem 2.5rem;
}

/* not in use
.main-form .back-button {
    margin: 0rem 2.5rem 0rem 0rem;
    color: #cf4520;
}*/

.footer-wrapper {
    width: 100%;
    height: auto;
    margin: 3rem 0;
}

.footer-wrapper img {
    width: 100%;
}

.footer-end {
  width: 100%;
  height: 3rem;
  background-color: #28231e;
  font-family: WF-028154-009464-000021;
  font-size: 12px;
  color: #676055;
  text-align: center;
}

.footer-end a {
    color: #676055;
    text-decoration: none;
}

.main-form-wrapper .header {
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    height: 2.5rem;
}

.main-form-wrapper .header .header-left {
    position: absolute;
    top: 0.5rem;
    margin-left: 5%;
}

.main-form-wrapper .header .header-left a {
    opacity: 0.73;
    font-family: WF-028154-009464-000021;
    font-size: 0.825rem;
    text-decoration: none;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #e4ded4;
}


.main-form-wrapper .header .header-right {
    position: absolute;
    right: 5%;
}

.dropdown-block {
    position: relative;
    top: -1rem;
}

.dropdown-block > div {
    display: inline-block;
}

.profile-image img {
    width: 2.5rem;
    height: 2.5rem;
}

.dropdown-block-wrapper, .profile-image {
    display: inline-block;
}

/* Dropdown */

.main-form-wrapper .header .dropdown {
    display: inline-block;
    position: relative;
    margin-right: -0.225rem;
}

.main-form-wrapper .header .dd-button {
    display: inline-block;
    border: 0.05rem solid rgba(70, 64, 56, 0.63);
    padding: 0.75rem 1.5rem 0.7rem 1rem;
    background-color: rgba(70, 64, 56, 0.63);
    cursor: pointer;
    white-space: nowrap;
    font-family: WF-028154-009464-000021;
    font-size: 0.75rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #6e675b;
}

.main-form-wrapper .header .dd-button:after {
    content: '';
    position: absolute;
    top: 40%;
    right: 0.4rem;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border: solid #cd6727;
    border-width: 0 0.08rem 0.08rem 0;
    padding: 0.180rem;
}

.main-form-wrapper .header .dd-button:hover {
    background-color: rgba(55, 55, 55, 0.715);
}


.main-form-wrapper .header .dd-input {
    display: none;
}

.main-form-wrapper .header .dd-menu {
    position: absolute;
    top: 100%;
    width: 100%;
    border: 0.063rem solid rgb(63, 59, 55);
    padding: 0;
    margin-top: 0rem;
    box-shadow: 0 0 0.375rem 0 rgba(0, 0, 0, 0.1);
    background-color: rgb(63, 59, 55);
    list-style-type: none;
}

.main-form-wrapper .header .dd-menu a {
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    font-family: WF-028154-009464-000021;
    font-size: 0.75rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #6e675b;
}

.main-form-wrapper .header .dd-input + .dd-menu {
    display: none;
}

.main-form-wrapper .header .dd-input:checked + .dd-menu {
    display: block;
}

.main-form-wrapper .header .dd-menu li {
    padding: 10px 20px;
    cursor: pointer;
    background-color: rgb(63, 59, 55);
    white-space: nowrap;
}

.main-form-wrapper .header .dd-menu li:hover {
    background-color: rgba(55, 55, 55, 0.715);
}

.main-form-wrapper .header .dd-menu li a {
    display: block;
    margin: -10px -20px;
    padding: 10px 20px;
}

.main-form-wrapper .header .dd-menu li.divider {
    padding: 0;
    border-bottom: 1px solid rgb(44, 42, 42);
}

.main-form-wrapper .header a:hover {
    background-color: rgba(55, 55, 55, 0.715)
}

/* Dropdown End */

.main-form-wrapper .header-border-logo {
    width: 100%;
    height: 5rem;
    background-color: #e4ded4;
}

.main-form-wrapper .header-border-logo img {
    margin: 0.565rem 0rem 0rem 4.5rem;
}

.main-form-wrapper .main-section-wrapper {
    background-color: #ffffff;
}

.main-section-wrapper .main-section {
    width: 75%;
    height: auto;
    margin: 0 auto;
    padding-top: 5rem;
}

.main-section .program-to-register {
    font-family: WF-028154-009464-000021;
    font-size: 1rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.015rem;
    color: #000000;
}

.input-checkbox {
    margin: 0.2rem !important;
    padding: 0.4rem !important;
    height: 0.8rem !important;
    width: 0.8rem !important;
    font-size: 1em !important;
    position: relative !important;
    border-radius: 0rem !important;
    border: 0.08rem solid #202020 !important;
}

.input-file {
    /* border: 0rem solid #202020!important; */
    border: none !important;
}

.aggravating-factors-label {
    width: 6rem;
}

#aggravating-factors-food-details, #aggravating-factors-family-details,
#aggravating-factors-work-details, #aggravating-factors-climate-details {
    margin: 1.2rem 0rem;
    width: 100%;
    display: none;
}

#personal-safety-mobility-difficulty-details, #personal-safety-falling-down-details,
#personal-safety-memory-problems-details, #personal-safety-vision-loss-details,
#personal-safety-hearing-loss-details, #personal-safety-requirement-of-assistance-details {
    margin: 1.2rem 0rem;
    width: 100%;
    display: none;
}

/* Select2 */

.select2-container--default .select2-selection--single {
    padding: 0.2rem 0rem 0.1rem 0rem;
    height: 2rem;
    width: 18.5rem;
    font-size: 1em;
    position: relative;
    border-radius: 0rem;
    border: 0.08rem solid #202020;
    border-top: none;
    border-right: none;
    border-left: none;
}

.select2-container {
    width: 18.5rem !important;
}

.select2-selection__clear > span {
    margin-right: 0.58rem;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: rgb(191, 191, 181);
    color: white;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    position: absolute;
    top: 30%;
    right: 0.4rem;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border: solid #202020;
    border-width: 0 0.12rem 0.12rem 0;
    padding: 0.180rem;
    height: 0.2rem;
    width: 0.2rem;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0rem !important;
}

/* Select2 */


/* table */
.form-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.form-table td, .form-table th {
    border-bottom: 1px solid #ddd;
    padding: 0.8rem;
}

.form-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.form-table tr:hover {
    background-color: #ddd;
}

.form-table th {
    border: 1px solid #ddd;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    text-align: left;
    background-color: rgb(138, 138, 138);
    color: white;
}

/* Table */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    padding-top: 60px;
}

.close-program-history-popup, .isha-life-treatments-close-popup, .current-medical-details-close-popup,
.allopathy-medication-close-popup, .alternate-medication-close-popup, .allergies-to-medications-close-popup,
.treatment-details-close-popup, .family-health-history-close-popup, .refractive-error-close-popup,
.joints-affected-close-popup, .sensationduration-close-popup {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close-program-history-popup, .isha-life-treatments-close-popup, .current-medical-details-close-popup,
.allopathy-medication-close-popup, .alternate-medication-close-popup, .allergies-to-medications-close-popup,
.treatment-details-close-popup, .family-health-history-close-popup, .refractive-error-close-popup,
.joints-affected-close-popup, .sensationduration-close-popup:hover,
.close-program-history-popup, .isha-life-treatments-close-popup, .current-medical-details-close-popup,
.allopathy-medication-close-popup, .alternate-medication-close-popup, .allergies-to-medications-close-popup,
.treatment-details-close-popup, .family-health-history-close-popup, .refractive-error-close-popup,
.joints-affected-close-popup, .sensationduration-close-popup:focus {
    cursor: pointer;
}

.program-history-popup-wrapper, .current-medical-details-popup-wrapper, .isha-life-treatments-popup-wrapper,
.allopathy-medication-popup-wrapper, .alternate-medication-popup-wrapper, .allergies-to-medications-popup-wrapper,
.treatment-details-popup-wrapper, .family-health-history-popup-wrapper, .refractive-error-popup-wrapper,
.joints-affected-popup-wrapper, .sensationduration-popup-wrapper {
    background-color: #fefefe;
    padding: 20px;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
}

.radio-button {
    padding: 0rem !important;
    height: 0.8rem !important;
    width: 0.8rem !important;
    font-size: 1em !important;
    position: relative !important;
    border-radius: 0rem !important;
    border: 0.08rem solid #202020 !important;
}

.more-details-section {
    display: inline-block;
}

@media screen and (max-width: 720px) {
    .more-details-section {
        position: static !important;
    }
}

.stepwizard-step p {
    margin-top: 0px;
    color: #666;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard .btn.disabled, .stepwizard .btn[disabled], .stepwizard fieldset[disabled] .btn {
    opacity: 1 !important;
    background-color: #aaa;
    color: #fff;
}

.stepwizard-step:before {
    top: 18px;
    bottom: 0;
    left: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 2px;
    background-color: #ccc;
    z-index: -1;
}

.stepwizard-step .btn-success:before {
    top: 18px;
    bottom: 0;
    left: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 2px;
    background-color: #cf4520;
    z-index: -1;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.stepwizard-step .btn-success, .stepwizard-step .btn-success:active {
    background-color: #cf4520 !important;
    border-color: #cf4520 !important;
}

.stepwizard-step .ring {
    padding: 3px;
    border-radius: 50%;
    border: 2px solid #cf4520;
    display: inline-block;
    background-color: #fff;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

/* table */
.form-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.form-table td, .form-table th {
    border-bottom: 1px solid #ddd;
    padding: 0.8rem;
}

.form-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.form-table tr:hover {
    background-color: #ddd;
}

.form-table th {
    border: 1px solid #ddd;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    text-align: left;
    background-color: rgb(138, 138, 138);
    color: white;
}

/* Table */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    padding-top: 60px;
}

body {
    margin: 0;
    font-family: WF-028154-009464-000007;
}

.required:after {
    content: " *";
    color: red;
}

.fa {
    margin-left: 4px;
}
.error_msg{
color:red;
}
.hide{
display:none;
}

.oe_hidden {
  display: none !important;
  opacity: 0 !important;
}

.success-message {
    margin-top: 100px;
    margin-bottom: 10px;
    padding-left:10px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.font_text_normal >p{
 font-size:20px;
}
.mandatrory_field{
outline-style: solid;
    outline-color: #e43b3b !important;
    /* border: 2px solid #ec6e6e !important; */
    /* outline: solid; */
    outline: 2px soild red;
    outline-width: 2px;
}
}

