.o_kanban_card_call_campaign {
    & > .row {
    min-height: 60px;
    }
}

.o_kanban_card_call_campaign_successed{
    background-image:
        linear-gradient(rgba(255,255,255,.9), 
                        rgba(255,255,255,.9)),
        url(/call_campaign/static/src/img/trophy-solid.svg);
    background-repeat: no-repeat;
    background-position: bottom 6px left -45px;
    background-size: 100px;
}

table.o_section_list_view tr.o_data_row.o_is_section {
    font-weight: bold;
    background-color: #DDD;
    border-top: 1px solid #BBB;
    border-bottom: 1px solid #BBB;
}
