.wizard .content .content-wrapper {
    max-width: 1080px;
}
.wizard .steps>ul li {
    width: 240px;
}

.card-header.mod-has-icon {
    position: relative;
}

.fill-details-error {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 90%;
    color: #dc3545;
}

.custom-checkbox.mod-covid-condition {
    width: 300px;
}

.profile-photo {
    position: absolute;
    width: 140px;
    height: 140px;
    right: 50px;
    top: 11px;
    border-radius: 5%;
}

#bloodtransfusion_carousel .carousel-inner {
    padding-bottom: 50px;
}

.fill-details-error.show {
    display: block;
}

@media (max-width: 500px) {
    .profile-photo {
        position: static;
        margin-bottom: 10px;
    }
    .alcohol-container {
        padding-bottom: 200px;
    }
}
