<section class="oe_container lead mt64">
	<div>
		<div class="col-md-12 mt16" style="padding:0;">
			<div class="col-md-12" style="padding:0;">
				<div class="panel-group mb0 mt0" role="tablist" id="priceAccordeon" style="padding:0;">
					<div class="panel-heading mb0 mt0 collapsed" role="tab" data-toggle="collapse" data-parent="#priceAccordeon" data-target="#priceAccordeon_area" aria-expanded="false" style="margin-left:0;padding:0 0 2px 0;text-align:right;">
						<strong>
							<div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;">
									Supported :
								</strong>
							</div>
							<div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;" title="The tool is compatible with the Odoo Enterprise version">
									<i class="fa fa-check" style="margin-left:4px;"> </i>
									Enterprise
								</strong>
							</div>
							<div style="background-color:#875A7B;padding:5px;margin-top:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;" title="The tool is compatible with the Odoo Community version">
									<i class="fa fa-check" style="margin-left:4px;"> </i>
									Community
								</strong>
							</div>
							<div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;" title="The tool might be installed to Odoo.sh if you have a linked private git repository">
									<i class="fa fa-check" style="margin-left:4px;"> </i>
									Odoo.sh
								</strong>
							</div>
						</strong>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="oe_container lead bi_title_box">
	<div >
		<div >
			<h2 class="oe_slogan bi_title" style="color:#5082c4;">
				<b>  Website Customer Helpdesk Support Ticket/Issue Odoo Apps  </b>
			</h2>
			<p class="oe_slogan">
				This Odoo apps almost contain everything you need for Service Desk,
				Technical support team, Call center management, Issue ticketing
				system which include issue tracking, billing payment,
				tech support portal, service request with timesheet to
				be managed in Odoo project management app. Website customer helpdesk support
				Ticketing System is used for give customer an interface where he/she can send
				support ticket request and attach documents from website.Support ticket will
				send by email to customer and admin. for Online ticketing system for customer
				support in Odoo Support. Also its allow to create invoice easily from the
				timesheet logged for the project issue/helpdesk support ticketing system.
				Customer can view their ticket from the website portal and easily see stage
				of the reported ticket also customer can communicate with help-desk support
				team from website communication option.

			</p>
		</div>
	</div>
</section>

<section class="oe_container lead bi_features">
	<div >
		<div>
			<h3 class="oe_slogan" style="opacity:1;background: linear-gradient(to right, #86bcf2 0%, #e2f2f8 100%);padding: 10px 0px;color: ##201111;letter-spacing: 0.2em;text-transform: uppercase;text-shadow: 0.1em .04em 0.1em #7d8c88;"><b>Features</b></h3>
		</div>
		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/pdf.png"/>
					</div>
					<div class="col-md-9">
					  <h4><b> Report</b></h4>
					  <span class="oe_slogan"> Print PDF - Helpdesk Support Ticket. </span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/asteria-512.png"/>
					</div>
					<div class="col-md-9">
						<h4><b> Review / Rating </b></h4>
						<span class="oe_slogan"> Customer can give feedback and rating of ticket. </span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/communication.png"/>
					</div>
					<div class="col-md-9">
					  <h4><b> Communication </b></h4>
					  <span class="oe_slogan"> Support User / Technician can communicate with customer using chatter and fill timesheet. </span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/16-512.png"/>
					</div>
					<div class="col-md-9">
						<h4><b> Ticket assignment </b></h4>
						<span class="oe_slogan"> Manage your support tickets using assignment to multiple support teams. </span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/invoice.png"/>
					</div>
					<div class="col-md-9">
					  <h4><b> Create Invoice </b></h4>
					  <span class="oe_slogan"> Support Manager can close ticket and send bill to customer.</span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/activity.png"/>
					</div>
					<div class="col-md-9">
						<h4><b> Ticket Activity </b></h4>
						<span class="oe_slogan"> Activity view for helpdesk support ticket. </span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/attach.png"/>
					</div>
					<div class="col-md-9">
					  <h4><b> Create Ticket / Attach Document </b></h4>
					  <span class="oe_slogan">  Your Customer can send support ticket/helpdesk request from your website and also attach documents. </span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/ticket.png"/>
					</div>
					<div class="col-md-9">
						<h4><b> Customer's Ticket Status view </b></h4>
						<span class="oe_slogan"> Customer can check status of all support tickets submitted by him/her on My Account page. </span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/images.jpeg"/>
					</div>
					<div class="col-md-9">
					  <h4><b> Create Support Ticket By Mail </b></h4>
					  <span class="oe_slogan">Customers can send mail for support by sending mail, from mail a support ticket will be generated. </span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/partner.png"/>
					</div>
					<div class="col-md-9">
						<h4><b> Auto Created Partner </b></h4>
						<span class="oe_slogan">The sender customer for the support ticket mail will be added as a partner if the partner is not exists. </span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/graphi_icon.png"/>
					</div>
					<div class="col-md-9">
					  <h4><b>Graphical Representation Of Support Ticket </b></h4>
					  <span class="oe_slogan">Users can see graphical statistics view for existing support tickets in graph view, calendar View, pivot View, activity view. </span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/rating_icon.jpeg"/>
					</div>
					<div class="col-md-9">
						<h4><b> Rating Option For Feedback </b></h4>
						<span class="oe_slogan">Customers can give a rating after getting the services.</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="oe_container lead mt64">
	<div >
		<div class="oe_slogan oe_spaced text-center">
			<a class="btn mt8 mr8" title="Demo Request" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="mailto:sales@browseinfo.in?Subject=Demo Request for Website Customer Helpdesk Support Ticket/Issue Odoo Apps" target="_top"> Demo Request </a>
			<a class="btn mt8 ml8" title="Video Tutorial" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://youtu.be/i3J4aZKfEvE" target="_blank"> Video Tutorial</a>
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Spanish translation available  </p>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Compatible for both enterprises and community versions. </p>
		</div>
	</div>
</section>


<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Website Support Ticket Configuration  </p>
			<p class="oe_slogan"> The user sets the default support team and also select the visibility access right for the portal user and public or no login user, to generate a support ticket.  </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="index.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">  Access Rights and Roles  </p>
			<p class="oe_slogan"> We have two different access groups for Helpdesk Support Ticket. </p>
				<ul class="text-left">
                    <li>User</li>
                    <li>Manager</li>
                </ul>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="u1.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Extrenal Email Server Configuration  </p>
			<p class="oe_slogan"> To configure the mail server user needs to set up the incoming and outgoing mail server in odoo. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="h4.png">
			<p class="oe_slogan"> Incoming Mail Server Configuration . </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="incm.png">
			<p class="oe_slogan"> Outgoing Mail Server Configuration . </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="out.png">
		</div>
	</div>
</section>


<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Customer Can Send Email For Support</p>
			<p class="oe_slogan"> Customers can send mail to generate a support ticket. </p>

			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="h5.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Generated Support Ticket From Customer Mail </p>
			<p class="oe_slogan"> A new auto-generated support ticket will be created after sending mail by the customer. </p>

			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="h6.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">User Can Reply From Chatter </p>
			<p class="oe_slogan">  Users can give a reply from chatter, the reply will send to the customer via mail.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="h7.png">
			<p class="oe_slogan"> The customer will get the reply sent by the user as mail. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="h8.png">
		</div>
	</div>
</section>


<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Auto Generate Partner </p>
			<p class="oe_slogan"> The sender customer for the support ticket mail will be added as a partner. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="h20.png">
		</div>
	</div>
</section>


<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> View Support Ticket To Public User/No Login User  </p>
			<p class="oe_slogan">Configuration to giving rights for no login user or  public user to submit a support ticket. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="w21.png">
			<p class="oe_slogan">Public or no login user can submit support ticket from website.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="w20.png">
			<p class="oe_slogan"> Website form view for submit support ticket.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="h21.png">
			<p class="oe_slogan"> After submit ticket public user will get this below confirmation.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="w22.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Support Ticket From Public User  </p>
			<p class="oe_slogan"> A support ticket will be generated in the backend after public or no login user submit the support ticket from the website.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="w23.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Submit And  View Support Ticket To Login User  </p>
			<p class="oe_slogan">Configuration to giving rights for login user or  public user to submit a support ticket </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="e500.png">
			<p class="oe_slogan">login user</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="h19.png">
			<p class="oe_slogan">login user can submit support ticket from website</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="w30.png">
			<p class="oe_slogan"> A support ticket will be generated in the backend after login user submit the support ticket from the website.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="w34.png">
			<p class="oe_slogan"> login user can edit sent support tickets and also send a message website.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="w33.png">
			<p class="oe_slogan"> Login user can check the support Ticket from My Account</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="w32.png">
			<p class="oe_slogan"> login user can edit sent support tickets and also send a message or get a reply from the website itself.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="w35.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Helpdesk Stages  </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="w46.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Helpdesk Ticket Type  </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="w47.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Helpdesk Ticket Team  </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="w45.png">
		</div>
	</div>
</section>


<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Create Task For Support </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="task.png">
			<p class="oe_slogan"> Create task form view.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="task1.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Close Support Ticket </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="close.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Create Invoice For Support Ticket </p>
			<p class="oe_slogan" > User can create invoice for closed tickets by two way Employee Cost or Manual Employee Cost</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="ss.png">
			<p class="oe_slogan"> Once the ticket is close, create invoice button will be visible, user can create invoice, for the payment . for a support ticket costing</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="inv.png">
			<p class="oe_slogan"> After chicking create invoice button will appear, by clicking this button user will be redirected to invoice page.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="invoice.png">
			<p class="oe_slogan"> Invoice from view .</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="invoice_form.png">
		</div>
	</div>
</section>


<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Closed Support Tickets </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="closeticket.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Support Ticket Tree View  </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="h9.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Support Ticket Calender View  </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="h10.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Support Ticket Graph View  </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="h16.png">
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="h17.png">
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="h18.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Support Ticket Pivot View  </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="h11.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Support Ticket Activity View  </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="activity.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Escalate Team </p>
			<p class="oe_slogan"> If you want to assign this ticket to higher level/parent team then you can use this button. After using this button helpdesk team and team leader will be change as per parent team. If you are in parent level then you can not escalate team. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="ess.png">
		</div>
	</div>
</section>


<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Warning On Escalate Team  </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="sees.png">
		</div>
	</div>
</section>


<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> After Close Ticket</p>
			<p class="oe_slogan">Once the ticket is close Is Ticket Closed checkbox become checked</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="w40.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Login User Will Get Update For The Ticket Status</p>
			<p class="oe_slogan">login user will be notified once the ticket is closed and the user can give rating also for feedback.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="w41.png">
			<p class="oe_slogan">Rating form view for feedback</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="w42.png">
			<p class="oe_slogan">After submitting feedback user will redirect to the confirmation page</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="w43.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Customer Rating Button </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="w44.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Support Ticket Report </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="report.png">
		</div>
	</div>
</section>

<section class="oe_container oe_dark" style="min-width: 110%;margin-left: -5%;">
	<div>
		<div class="row">
			<div class="col-sm-4" style="margin: auto;">
				<p class="oe_slogan" style="font-size: 35px;color: #5082c4;font-style: italic;font-weight: bold;">Apps May You Like</p>
			</div>
		</div>
		<div class="row col-sm-12" style="margin-left: 1%;padding: 1% 8%;">
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/bi_website_car_repair_industry/">
					<img class="img img-responsive" src="related/bi_website_car_repair_industry.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/bi_website_gift_cards/">
					<img class="img img-responsive" src="related/1t.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/odoo_website_rma/">
					<img class="img img-responsive" src="related/odoo_website_rma.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/website_abandoned_cart/">
					<img class="img img-responsive" src="related/website_abandoned_cart.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/website_all_in_one/">
					<img class="img img-responsive" src="related/website_all_in_one.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/website_region_ip_address/">
					<img class="img img-responsive" src="related/website_region_ip_address.png" style="width: 100%;"/>
				</a>
			</div>
		</div>
	</div>
</section>

<section class="oe_container oe_dark" style="min-width: 110%;margin-left: -5%;">
	<div>
		<div class="row">
			<div class="col-sm-4" style="margin: auto;">
				<p class="oe_slogan" style="font-size: 35px;color: #5082c4;font-style: italic;font-weight: bold;">Most Demanded Apps</p>
			</div>
		</div>
		<div class="row col-sm-12" style="margin-left: 1%;padding: 1% 8%;">
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/pos_orders_all/">
					<img class="img img-responsive" src="demanded/all_in_one_pos.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/bi_customer_overdue_statement/">
					<img class="img img-responsive" src="demanded/customer_overdue.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/generic_excel_reports/">
					<img class="img img-responsive" src="demanded/generic_excel_report.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/sales_commission_generic/">
					<img class="img img-responsive" src="demanded/sale_commision.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/bi_generic_import/">
					<img class="img img-responsive" src="demanded/bi_generic_import.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/branch/">
					<img class="img img-responsive" src="demanded/branch.png" style="width: 100%;"/>
				</a>
			</div>
		</div>	
	</div>
</section>

<section class="oe_container">
	<div >
		<div >
			<h2 class="oe_slogan">Free Support</h2>
			<h3 class="oe_slogan" style="font-size: 21px; color: #000000 !important;">You will get 90 Days free support incase any bugs or issue (Except data recovery).</h3>
			<p class="oe_slogan" style="font-size: 18px; ">
		At BrowseInfo we offer  end to end solution for Odoo services. Which includes analysis &amp; consultation on the workflows and integration part.  Please note that You're not allowed to distribute this module after purchase! Incase of any question regarding this module feel free to email us on <a href="mailto:sales@browseinfo.in">sales@browseinfo.in</a> or raise a ticket on support.
			</p>
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div >
		<div >
			<div class="img img-responsive text-center">
				<a href="http://www.browseinfo.in" target="new" style="display: grid;">
					<img src="bi_logo.png" style="margin: auto;max-width: 350px;">
				</a>
			</div>
		</div>
		<div class="oe_slogan oe_spaced text-center">
			<a class="btn mt8" title="Website" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="https://browseinfo.in/" target="_blank"> Website </a>
			<a class="btn mt8" title="Email on Support" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="https://browseinfo.in/request-support/" target="_blank"> Support Request </a>
			<a class="btn mt8" title="Request New Features now !" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="https://browseinfo.in/our-services/" target="_blank">Services</a>
		</div>
	</div>
</section>