body{
    background-color: #ffffff !important;
}

/**
 * Top Navigation: Style Resembling to ISO
 *
header#top > nav{
    background-color: #e4ded4 !important;
    font-size: 16px;
    font-weight: 300;
    padding: 0px;
}
#top_menu > li > a{
    border: 1px solid #a39d93;
    border-width: 0px 1px 0px 0px;
    margin: 10px 0px !important;
}
#top_menu > li > a:hover{
    color: #cf4520;
}

ul#top_menu > li:last-child > a, ul#top_menu > li.divider{
    border-width: 0px 0px 0px 0px !important;
}
*/

main{
    margin: 0;
}
.main-card, .main-card > .card-body{
    background-color: #ede9de !important
}

.main-card > .card-body .card {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.main-card > .card-body .card > .card-header{
    text-align: center;
    font-weight: bolder !important;
}

/**
 * Wizard Style Override: Not needed Now!!!
 *
.wizard .steps>ul{
    margin-bottom: -1px;
}
.wizard .steps>ul li a{
    background: #fafafa;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: #eee;
    border-bottom: 1px solid #cf451f !important;
}
.wizard .steps>ul li .bd-wizard-step-icon{
    color: #aaa
}
.wizard .steps>ul li.current a {
    background: #fffefa !important;
    border-color: #cf451f;
    border-bottom: 1px solid #fffefa !important;
}

.wizard .content{
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
}

.wizard .actions{
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;

}
.wizard .content, .wizard .actions{
    border-color: #cf451f;
    background: #fffefa !important;
}

.wizard .actions>ul{
    padding-top: 15px;
    max-width: 900px !important;
    padding-bottom: 0px !important;
    border-bottom: 0px !important;
    margin-bottom: 0px !important;
}
*/

.loader{
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 10000;
    background-color: rgba(255, 255, 255, 0.9) !important
}

.form-group.pmd-textfield{
    border: 1px solid #ced4da;
    border-radius: 3px;
}
.pmd-textfield-floating-label label{
    -ms-transform: translateY(17px);
    -webkit-transform: translateY(17px);
    transform: translateY(17px);
}
.select2-container--bootstrap .select2-selection--single{
    border: none !important;
}

.form-label-group > label, .pmd-textfield label, .select2-selection__placeholder{
    color: #999;
}
.select2-container--bootstrap .select2-selection--single .select2-selection__arrow b{
    margin-top: -5px;
}



/* -- Image Style and box height on Registration Form -- */
@media screen and (min-width: 768px) {
    .card-img-box{
        height: 250px;
        overflow: hidden;
    }

    #photo-info-text {
        height: 96px;
    }
}

/* -- Submit Button Color -- */
.btn-save, .btn-modal-save{
    background-color: #cf4520;
    border-color: #cf4520;
}
.btn-save:hover, .btn-modal-save:hover {
    background-color: #000054 !important;
    border-color: #000054;
}



/* -- Country Code field width -- */
.phone-field .form-group.pmd-textfield {
    width: 120px;
}

/* -- Remove Arrows/Spinners -- */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}